<footer id="page-footer">
	<section class="main-footer">
		<div class="content-wrapper">

			<section class="call-us">
				<svg class="icon icon-phone-outline" title="Contact">
					<use xlink:href="{{assets}}/img/svg-defs.svg#shape-icon-phone-outline" />
				</svg>
				<h2>Need help? Call us</h2>
				<p>
					Here are our contact details:<br/>
					<a href="#">info@coloplast.com</a><br/>
					Phone: 1-800-533-0464
				</p>
			</section>

			<section class="order-sample">
				<svg class="icon icon-box-open" title="Order samples">
					<use xlink:href="{{assets}}/img/svg-defs.svg#shape-icon-box-open" />
				</svg>
				<h2>Order FREE samples</h2>
				<p>Read about our solutions and make your choice</p>
				<a href="#" class="button">See products</a>
			</section>

			<section class="social">
				<h2>Connect</h2>
				<ul>
					<li>
						<a href="#">
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Twitter</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>Google plus</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span>YouTube</span>
						</a>
					</li>
				</ul>
			</section>

		</div>
	</section>
	<section class="secondary-footer">
		<div class="content-wrapper">
			<ul>
				<li><a href="#">Cookie Policy</a></li>
				<li><a href="#">Legal aspects</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms and Conditions</a></li>
			</ul>
		</div>

	</section>
</footer>
