<footer id="page-footer">
	<section class="main-footer">
		<div class="content-wrapper">
			<a class="top" href="#top">
				<span>To top</span>
				<span class="icon"></span>
			</a>

			<section class="call-us">
				<span class="icon icon-phone-outline"></span>
				<h2>Need help? Call us</h2>
				<p>
					Here are our contact details:<br/>
					<a href="#">info@coloplast.com</a><br/>
					Phone: 1-855-863-3907
				</p>
			</section>

			<section class="order-sample">
				<span class="icon icon-box-open"></span>
				<h2>Order free samples</h2>
				<p>Read about our solutions and choose products you’d like to try</p>
				<a href="#" class="button">View products</a>
			</section>
<!--
			<section class="social">
				<h2>Connect</h2>
				{{>social}}
			</section>
-->
		</div>
	</section>
	<section class="secondary-footer">
		<div class="content-wrapper">
			<ul>
				<li><a href="#">Cookie Policy</a></li>
				<li><a href="#">Legal aspects</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms and Conditions</a></li>
			</ul>
		</div>

	</section>
</footer>
