<div class="form-signup">
	<form id="form-signup" name="signup">
	<fieldset class="personal-info form-compact">

		<label class="input-text" for="signup-firstname">
			<div class="label">First name</div>
			<input type="text" id="signup-firstname" name="firstname">
		</label>

		<label class="input-text" for="signup-lastname">
			<div class="label">Last name</div>
			<input type="text" id="signup-lastname" name="last-name">
		</label>

		<label class="input-text" for="signup-email">
			<div class="label">E-mail address</div>
			<input type="text" id="signup-email" name="email">
		</label>

		<label class="input-text" for="signup-zip">
			<div class="label">Zip code</div>
			<input type="text" id="signup-zip" name="zip">
		</label>

	</fieldset>
	<fieldset class="gender-mobility">
		<div class="radio-group icon-buttons">
			<label class="input-radio" for="signup-gender-female">
				<input id="signup-gender-female" name="gender" type="radio" value="female">
				<span class="icon icon-gender-female"></span>
				<span class="label">Female</span>
			</label>
			<label class="input-radio" for="signup-gender-male">
				<input id="signup-gender-male" name="gender" type="radio" value="male">
				<span class="icon icon-gender-male"></span>
				<span class="label">Male</span>
			</label>
		</div>
		<div class="checkbox-group input-buttons">
			<label class="input-checkbox" for="signup-mobility-wheelchair">
				<input id="signup-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
				<span class="icon icon-checkmark"></span>
				<span class="label">I use a wheelchair</span>
			</label>
		</div>
	</fieldset>
	<button class="input-submit type="submit">
		Sign up
	</button>
	</form>
</div>