
<div id="signup-form-hero" class="form-signup">

	<div class="form-signup-cta">
		<h2>Get your personal support programme</h2>
		<a href="#signup-form-overlay">
			Sign up here
			<span class="icon icon-arrow-right"></span>
		</a>
	</div>


	<form name="signup">
		<div class="form-step active">
			<h1>Sign up now</h1>

			<div class="form-row">
				<label class="input-text" for="signup-hero-firstname">
					<div class="label">First name</div>
					<input type="text" id="signup-hero-firstname" name="firstname">
				</label>
			</div>
			<div class="form-row">
				<label class="input-text" for="signup-hero-lastname">
					<div class="label">Last name</div>
					<input type="text" id="signup-hero-lastname" name="last-name">
				</label>
			</div>
			<div class="form-row">
				<label class="input-text" for="signup-hero-email">
					<div class="label">E-mail address</div>
					<input type="email" id="signup-hero-email" name="email">
				</label>
			</div>

			<div class="form-row button-group">
				<button class="input-submit" type="button">
					Sign up
				</button>
			</div>

			<div class="form-row checkbox-group">
				<label class="input-checkbox input--small" for="signup-hero-terms">
					<input id="signup-hero-terms" name="terms" type="checkbox" value="1">
					<span class="icon icon-checkmark"></span>
					<span class="label">I accept the <a href="#">terms and conditions</a></span>
				</label>
			</div>

			<div class="form-row hcp-message">
				<p>If you are a healthcare professional signing up a patient <a href="#signup-form-hcp">click here</a>
			</div>


		</div>

	</form>

</div>

<div id="signup-form-hero-step2" class="form-signup mfp-hide">

	<form id="form-signup" name="signup">
		<div class="form-step active">
			<div class="form-header">
				<h1>Please fill out details</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.</p>
			</div>

			<h2>Since when are you using a catheter?</h2>
			
			<div class="form-row date-gender-mobility">

				<div class="form-wrapper select-group date-group">
					<label class="input-select date-year" for="signup-hero-step2-catheterdate-year">
						<select id="signup-hero-step2-catheterdate-year" name="year">
							<option value="">Year</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
						</select>
					</label>

					<label class="input-select date-month" for="signup-hero-step2-catheterdate-month">
						<select id="signup-hero-step2-catheterdate-month" name="month">
							<option value="">Month</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</label>

					<label class="input-select date-day" for="signup-hero-step2-catheterdate-day">
						<select id="signup-hero-step2-catheterdate-day" name="day">
							<option value="">Day</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</label>
				</div>


				<div class="form-wrapper radio-group icon-buttons">
					<label class="input-radio" for="signup-hero-step2-gender-female">
						<input id="signup-hero-step2-gender-female" name="gender" type="radio" value="female">
						<span class="icon icon-gender-female"></span>
						<span class="label">Female</span>
					</label>
					<label class="input-radio" for="signup-hero-step2-gender-male">
						<input id="signup-hero-step2-gender-male" name="gender" type="radio" value="male">
						<span class="icon icon-gender-male"></span>
						<span class="label">Male</span>
					</label>
				</div>

				<div class="form-wrapper checkbox-group">
					<label class="input-checkbox" for="signup-hero-step2-mobility-wheelchair">
						<input id="signup-hero-step2-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
						<span class="icon icon-checkmark"></span>
						<span class="label">I use a wheelchair</span>
					</label>
				</div>

			</div>

			<div class="form-row">
				<label class="input-text sm" for="signup-hero-step2-address1">
					<div class="label">Address</div>
					<input type="text" id="signup-hero-step2-address1" name="address">
				</label>

				<label class="input-text sm" for="signup-hero-step2-city">
					<div class="label">City</div>
					<input type="text" id="signup-hero-step2-city" name="city">
				</label>

				<label class="input-text sm" for="signup-hero-step2-state">
					<div class="label">State</div>
					<input type="text" id="signup-hero-step2-state" name="state">
				</label>
			</div>

			<div class="form-row">
				<label class="input-text sm" for="signup-hero-step2-zip">
					<div class="label">Zip code</div>
					<input type="text" id="signup-hero-step2-zip" name="zip">
				</label>

				<div class="form-wrapper sm">
					<label class="input-text sm input--small-bottom-spacing" for="signup-hero-step2-phone-areacode">
						<input type="text" id="signup-hero-step2-phone-areacode" name="phone-areacode" value="+45" disabled>
					</label>

					<label class="input-text lg last input--small-bottom-spacing" for="signup-hero-step2-phone">
						<div class="label">Phone no.</div>
						<input type="text" id="signup-hero-step2-phone" name="phone">
					</label>

					<label class="input-checkbox input--small" for="signup-hero-step2-phone-is-mobile">
						<input id="signup-hero-step2-phone-is-mobile" name="phone-is-mobile" type="checkbox" value="1">
						<span class="icon icon-checkmark"></span>
						<span class="label">Phone number is for cell phone</span>
					</label>
				</div>


				<label class="input-select sm" for="signup-hero-step2-country">
					<select id="signup-hero-step2-country" name="country" disabled>
						<option value="">Select country</option>
						<option value="opt1">UK</option>
						<option value="opt2" selected>US</option>
						<option value="opt3">Germany</option>
					</select>
				</label>
			</div>

			<div class="button-group">
				<button class="input-submit" type="button">
					Submit
				</button>
			</div>

		</div>

	</form>

	<div class="form-confirmation">
		<div class="form-header">
			<h1>Thank you for signing up</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
			</p>
		</div>

		<div class="button-group">
			<a class="button popup-close" href="#">Continue</a>
		</div>
	</div>
</div>

<div id="signup-form-hcp" class="form-signup mfp-hide">

	<form id="form-signup" name="signup">
		<div class="form-step active">
			<div class="form-header">
				<h1>Please fill out details</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.</p>
			</div>
				

			<div class="form-row">
				<label class="input-select sm" for="signup-hcp-title">
					<select id="signup-hcp-title" name="title">
						<option value="">Title</option>
						<option value="Doctor">Doctor</option>
						<option value="Nurse">Nurse</option>
						<option value="Other">Other</option>
					</select>
				</label>

				<label class="input-text sm" for="signup-hcp-firstname">
					<div class="label">First name</div>
					<input type="text" id="signup-hcp-firstname" name="firstname">
				</label>

				<label class="input-text sm" for="signup-hcp-lastname">
					<div class="label">Last name</div>
					<input type="text" id="signup-hcp-lastname" name="last-name">
				</label>

			</div>
			<div class="form-row">
				<label class="input-text sm" for="signup-hcp-email">
					<div class="label">E-mail</div>
					<input type="email" id="signup-hcp-email" name="email">
				</label>

				<label class="input-text sm" for="signup-hcp-organization">
					<div class="label">Organization</div>
					<input type="text" id="signup-hcp-organization" name="organization">
				</label>

				<label class="input-text sm" for="signup-hcp-organization-zip">
					<div class="label">Organization zip code</div>
					<input type="text" id="signup-hcp-organization-zip" name="organization-zip">
				</label>

			</div>
			

			<div class="button-group">
				<button class="input-submit" type="button">
					Submit
				</button>
			</div>
		</div>



		<div class="form-step">
			<div class="form-header">
				<h1>Please fill out details</h1>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.</p>
			</div>

			<div class="form-row">
				<label class="input-text sm" for="signup-hcp-firstname">
					<div class="label">First name</div>
					<input type="text" id="signup-hcp-firstname" name="firstname">
				</label>

				<label class="input-text sm" for="signup-hcp-lastname">
					<div class="label">Last name</div>
					<input type="text" id="signup-hcp-lastname" name="last-name">
				</label>

				<label class="input-text sm" for="signup-hcp-email">
					<div class="label">E-mail address</div>
					<input type="email" id="signup-hcp-email" name="email">
				</label>
			</div>


			<h2>Since when are you using a catheter?</h2>
			
			<div class="form-row date-gender-mobility">

				<div class="form-wrapper select-group date-group">
					<label class="input-select date-year" for="signup-hcp-catheterdate-year">
						<select id="signup-hcp-catheterdate-year" name="year">
							<option value="">Year</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
						</select>
					</label>

					<label class="input-select date-month" for="signup-hcp-catheterdate-month">
						<select id="signup-hcp-catheterdate-month" name="month">
							<option value="">Month</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</label>

					<label class="input-select date-day" for="signup-hcp-catheterdate-day">
						<select id="signup-hcp-catheterdate-day" name="day">
							<option value="">Day</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</label>
				</div>


				<div class="form-wrapper radio-group icon-buttons">
					<label class="input-radio" for="signup-hcp-gender-female">
						<input id="signup-hcp-gender-female" name="gender" type="radio" value="female">
						<span class="icon icon-gender-female"></span>
						<span class="label">Female</span>
					</label>
					<label class="input-radio" for="signup-hcp-gender-male">
						<input id="signup-hcp-gender-male" name="gender" type="radio" value="male">
						<span class="icon icon-gender-male"></span>
						<span class="label">Male</span>
					</label>
				</div>

				<div class="form-wrapper checkbox-group">
					<label class="input-checkbox" for="signup-hcp-mobility-wheelchair">
						<input id="signup-hcp-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
						<span class="icon icon-checkmark"></span>
						<span class="label">I use a wheelchair</span>
					</label>
				</div>

			</div>

			<div class="form-row">
				<label class="input-text sm" for="signup-hcp-address1">
					<div class="label">Address</div>
					<input type="text" id="signup-hcp-address1" name="address">
				</label>

				<label class="input-text sm" for="signup-hcp-city">
					<div class="label">City</div>
					<input type="text" id="signup-hcp-city" name="city">
				</label>

				<label class="input-text sm" for="signup-hcp-state">
					<div class="label">State</div>
					<input type="text" id="signup-hcp-state" name="state">
				</label>
			</div>

			<div class="form-row">
				<label class="input-text sm" for="signup-hcp-zip">
					<div class="label">Zip code</div>
					<input type="text" id="signup-hcp-zip" name="zip">
				</label>

				<div class="form-wrapper sm">
					<label class="input-text sm input--small-bottom-spacing" for="signup-hcp-phone-areacode">
						<input type="text" id="signup-hcp-phone-areacode" name="phone-areacode" value="+45" disabled>
					</label>

					<label class="input-text lg last input--small-bottom-spacing" for="signup-hcp-phone">
						<div class="label">Phone no.</div>
						<input type="text" id="signup-hcp-phone" name="phone">
					</label>

					<label class="input-checkbox input--small" for="signup-hcp-phone-is-mobile">
						<input id="signup-hcp-phone-is-mobile" name="phone-is-mobile" type="checkbox" value="1">
						<span class="icon icon-checkmark"></span>
						<span class="label">Phone number is for cell phone</span>
					</label>
				</div>


				<label class="input-select sm" for="signup-hcp-country">
					<select id="signup-hcp-country" name="country" disabled>
						<option value="">Select country</option>
						<option value="opt1">UK</option>
						<option value="opt2" selected>US</option>
						<option value="opt3">Germany</option>
					</select>
				</label>
			</div>

			<div class="button-group">
				<button class="input-submit" type="button">
					Submit
				</button>
			</div>

		</div>

	</form>

	<div class="form-confirmation">
		<div class="form-header">
			<h1>Thank you for signing up</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis.
			</p>
		</div>

		<div class="button-group">
			<a class="button popup-close" href="#">Sign up another patient</a>
		</div>
	</div>
</div>
