

<form id="form-contact" method="post" action="">
	<div class="form-row">
		<label class="input-text md" for="contact-firstname">
			<div class="label">First name</div>
			<input type="text" id="contact-firstname" name="firstname" />
		</label>
		<label class="input-text md" for="contact-lastname">
			<div class="label">Last name</div>
			<input type="text" id="contact-lastname" name="lastname" />
		</label>
	</div>
	<div class="form-row">
		<div class="form-wrapper md">
			<label class="input-text xs input--prefix" for="contact-phone-areacode">
				<div class="label">Prefix</div>
				<input type="text" id="contact-phone-areacode" name="phone-areacode" value="+45" disabled>
			</label>

			<label class="input-text xl last" for="contact-phone">
				<div class="label">Phone no. (Optional)</div>
				<input type="text" id="contact-phone" name="phone">
			</label>

			<label class="input-checkbox input--small" for="contact-phone-is-mobile">
				<input id="contact-phone-is-mobile" name="phone-is-mobile" type="checkbox" value="1">
				<span class="icon icon-checkmark"></span>
				<span class="label">This is a mobile number</span>
			</label>
		</div>
		<div class="form-wrapper md">

			<label class="input-text" for="contact-email">
				<div class="label">E-mail address</div>
				<input type="email" id="contact-email" name="email" />
			</label>

			<label class="input-text" for="contact-country">
				<div class="label">Country</div>
				<input type="text" id="contact-country" name="country" value="US" disabled>
			</label>
		</div>
	</div>
	<div class="form-row">
		<label class="input-textarea" for="contact-message">
			<div class="label">Your message</div>
			<textarea id="contact-message" name="message"></textarea>
		</label>
	</div>

	<div class="form-row">
		<div class="form-wrapper md checkbox-group">
			<label class="input-checkbox input--small" for="contact-terms">
				<input id="contact-terms" name="terms" type="checkbox" value="1">
				<span class="icon icon-checkmark"></span>
				<span class="label">I accept the <a href="#">terms and conditions</a></span>
			</label>
		</div>
		<div class="form-wrapper md button-group">
			<button class="input-submit" type="submit">
				Submit
			</button>
		</div>
	</div>



</form>
<div class="form-confirmation">
	<h3>Thank you for contacting us</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>