

<form>
	<div class="form-row">
		<label class="input-text md" for="contact-firstname">
			<div class="label">First name</div>
			<input type="text" id="contact-firstname" name="firstname" />
		</label>
		<label class="input-text md" for="contact-lastname">
			<div class="label">Last name</div>
			<input type="text" id="contact-lastname" name="lastname" />
		</label>
	</div>
	<div class="form-row">
		<label class="input-text md" for="contact-email">
			<div class="label">E-mail</div>
			<input type="email" id="contact-email" name="email" />
		</label>
		<label class="input-text md" for="contact-phone">
			<div class="label">Phone number</div>
			<input type="tel" id="contact-phone" name="phone" />
		</label>
	</div>
	<div class="form-row">
		<label class="input-checkbox" for="contact-is-cellphone">
			<input type="checkbox" id="contact-is-cellphone" name="cellphone"></textarea>
			<span class="icon icon-checkmark"></span>
			<div class="label">Phone number is for a cell phone</div>
		</label>
	</div>
	<div class="form-row">
		<label class="input-textarea" for="contact-message">
			<div class="label">Your message ...</div>
			<textarea id="contact-message" name="message"></textarea>
		</label>
	</div>

	<div class="button-group">

		<button class="input-submit" type="submit">
			Send
		</button>
	</div>

</form>
<div class="form-confirmation">
	<h3>Thank you for contacting us</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
</div>