
<div id="form-order-sample-overlay" class="form-order-sample mfp-hide">

	<form id="form-order-sample" name="order-sample">
	<div class="form-step-1">
		
			
			<h1>Get your free sample</h1>

			<div class="form-col">
				<div class="form-row">
					<label class="input-text" for="order-sample-firstname">
						<div class="label">First name</div>
						<input type="text" id="order-sample-firstname" name="firstname">
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="order-sample-lastname">
						<div class="label">Last name</div>
						<input type="text" id="order-sample-lastname" name="last-name">
					</label>
				</div>
				<div class="form-row gender-mobility">
					<div class="radio-group icon-buttons">
						<label class="input-radio" for="order-sample-gender-female">
							<input id="order-sample-gender-female" name="gender" type="radio" value="female">
							<span class="icon icon-gender-female"></span>
							<span class="label">Female</span>
						</label>
						<label class="input-radio" for="order-sample-gender-male">
							<input id="order-sample-gender-male" name="gender" type="radio" value="male">
							<span class="icon icon-gender-male"></span>
							<span class="label">Male</span>
						</label>
					</div>
					<div class="checkbox-group input-buttons">
						<label class="input-checkbox" for="order-sample-mobility-wheelchair">
							<input id="order-sample-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
							<span class="icon icon-checkmark"></span>
							<span class="label">I use a wheelchair</span>
						</label>
					</div>
				</div>
				<div class="form-row">
					<label class="input-text" for="order-sample-email">
						<div class="label">E-mail address</div>
						<input type="email" id="order-sample-email" name="email">
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="order-sample-phone">
						<div class="label">Phone number</div>
						<input type="tel" id="order-sample-phone" name="phone">
					</label>
				</div>
			</div>
			<div class="form-col">

				<div class="form-row">
					<label class="input-text" for="order-sample-address1">
						<div class="label">Address</div>
						<input type="text" id="order-sample-address1" name="address1">
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="order-sample-address2">
						<div class="label">Address</div>
						<input type="text" id="order-sample-address2" name="address2">
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="order-sample-state">
						<div class="label">State</div>
						<input type="text" id="order-sample-state" name="state">
					</label>
				</div>
				<div class="form-row">
					<label class="input-text md" for="order-sample-zip">
						<div class="label">Zip code</div>
						<input type="text" id="order-sample-zip" name="zip">
					</label>

					<label class="input-text md" for="order-sample-city">
						<div class="label">City</div>
						<input type="text" id="order-sample-city" name="city">
					</label>
				</div>

				<div class="form-row">
					<label class="input-checkbox" for="order-sample-accept-legal">
						<input id="order-sample-accept-legal" name="accept-legal" type="checkbox" value="1">
						<span class="icon icon-checkmark"></span>
						<span class="label">* Local legal requirements</span>
					</label>
				</div>

				<div class="button-group">
					<button class="input-submit type="submit">
						Get your free sample
					</button>
				</div>
			</div>
			
			<div class="disclaimer">
				<p>* We guarantee 100% privacy. Your information will not be shared. It will only be used to send you your free samples and for potential follow up communication.</p>
			</div>
		</form>
	</div>

	<div class="form-confirmation">
		<h1>Thank you for signing up for Care.</h1>
		<h2>Your free sample is on the way.</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
		</p>
	</div>
</div>
