
<div id="signup-form-hero" class="form-signup">

	<div class="form-signup-cta">
		<h2>Get your personal support programme</h2>
		<a href="#signup-form-overlay">
			Sign up here
			<span class="icon icon-arrow-right"></span>
		</a>
	</div>


	<form name="signup">
		
		<h1>Sign up now</h1>

		<div class="form-compact">
			<div class="form-row">
				<label class="input-text" for="signup-hero-firstname">
					<div class="label">First name</div>
					<input type="text" id="signup-hero-firstname" name="firstname">
				</label>
			</div>
			<div class="form-row">
				<label class="input-text" for="signup-hero-lastname">
					<div class="label">Last name</div>
					<input type="text" id="signup-hero-lastname" name="last-name">
				</label>
			</div>
			<div class="form-row">
				<label class="input-text" for="signup-hero-email">
					<div class="label">E-mail address</div>
					<input type="email" id="signup-hero-email" name="email">
				</label>
			</div>
			<div class="form-row">
				<label class="input-text" for="signup-hero-zip">
					<div class="label">Zip code</div>
					<input type="text" id="signup-hero-zip" name="zip">
				</label>
			</div>
		</div>
		<div class="form-row gender-mobility">
			<div class="radio-group icon-buttons">
				<label class="input-radio" for="signup-hero-gender-female">
					<input id="signup-hero-gender-female" name="gender" type="radio" value="female">
					<span class="icon icon-gender-female"></span>
					<span class="label">Female</span>
				</label>
				<label class="input-radio" for="signup-hero-gender-male">
					<input id="signup-hero-gender-male" name="gender" type="radio" value="male">
					<span class="icon icon-gender-male"></span>
					<span class="label">Male</span>
				</label>
			</div>
			<div class="checkbox-group input-buttons">
				<label class="input-checkbox" for="signup-hero-mobility-wheelchair">
					<input id="signup-hero-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
					<span class="icon icon-checkmark"></span>
					<span class="label">I use a wheelchair</span>
				</label>
			</div>
		</div>
		<div class="button-group">
			<button class="input-submit type="submit">
				Sign up
			</button>
		</div>
		<div class="disclaimer">
			<p>By signing up you accept the <a href="#">Terms and Conditions</a></p>
		</div>
	</form>

	<div class="form-confirmation">
		<h1>Thank you for signing up</h1>
		<p>
			The more we know about you, the more we can help. If you have the time to answer some extra questions
		</p>
		<h5>Please choose one of the options below.</h5>
		<ul class="text-buttons">
			<li><a href="#">I am having bladder issues</a></li>
			<li><a href="#">I am caring for someone with bladder issues</a></li>
		</ul>
	</div>
</div>
