<div class="elm-image">
	{{#is type 'video'}}
		<span class="icon icon-media-play"></span>
	{{/is}}
	<img src="{{thumb}}">
</div>

<div class="elm-content">
	<div class="category">{{category}}</div>
	<h2>{{title}}</h2>
	<p>{{teaser}}</p>
	<a href="#" class="more-link">
		Read more
		<span class="icon icon-arrow-right"></span>
	</a>
</div>