<header id="page-header">
	<div class="content-wrapper">
		<h1 class="brand-primary">
			<a href="index.html">
				<span>Coloplast</span>
			</a>
		</h1>

		<h2 class="brand-secondary">
			<span>Coloplast Care</span>
		</h2>

		<nav class="primary" id="primary-nav">
			<ul>

			{{#each sections}}
				{{>nav_item this}}
			{{/each}}
			<!--
				<li class="search has-icon">
					<a href="#">
						<span>Search</span>
						<span class="icon icon-search"></span>
					</a>
				</li>
			-->
				<li class="nav-btn has-icon">
					<a href="#primary-nav">
						<span>Navigation</span>
						<span class="icon icon-navbars"></span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>