<section class="hero" style="background-image:url('http://lorempixel.com/1280/395/people/4/')">
	<div class="content-wrapper">
		<div class="elm-image">
			<img src="http://lorempixel.com/1280/395/people/4" alt="Image text" border="0">
		</div>
		<div class="elm-content">
			<h1>Less frustration.<br/>More life</h1>
			<ul class="checkmarks">
				<li>Valuable tips and guides for your everyday life</li>
				<li>Personal e-mails for your CARE lifecycle</li>
				<li>Handpicked articles, tools and guides</li>
			</ul>
		</div>

	</div>

</section>