<div class="hero" style="background-image:url('{{assets}}/img/samples/hero.jpg')">

	<div class="content-wrapper">
		<div class="elm-image">
			<img src="{{assets}}/img/samples/hero.jpg" alt="Image text" border="0">
		</div>
		<div class="elm-content">

<h1 id="headline_text">Less struggle. More living.</h1><span id="main_text"><ul>
<li>News, tips and inspiration relevant for your situation – delivered right to &nbsp;your email inbox</li>
<li>Access to online resources with reliable information</li>
<li>A dedicated team of Continence Care advisors available by phone</li>
<li>Free samples of new innovative products*</li>
</ul>
<p><strong>&nbsp;</strong>*<em>Subject to confirmation of a valid prescription</em></p></span>
<!--
			<h1>Less frustration.<br/>More life</h1>
			<ul class="checkmarks">
				<li>Valuable tips and guides for your everyday life</li>
				<li>Personal e-mails for your CARE lifecycle</li>
				<li>Handpicked articles, tools and guides</li>
			</ul>
-->
		</div>

	</div>

</div>

{{#if show_hero_signup}}
	{{>form_signup_step1_hero}}
{{/if}}