<ul class="social">
	<li>
		<a href="#">
			<span>Facebook</span>
			<span class="icon icon-social-facebook">
		</a>
	</li>
	<li>
		<a href="#">
			<span>Twitter</span>
			<span class="icon icon-social-twitter">
		</a>
	</li>
	<li>
		<a href="#">
			<span>Google plus</span>
			<span class="icon icon-social-googleplus">
		</a>
	</li>
	<li>
		<a href="#">
			<span>YouTube</span>
			<span class="icon icon-social-youtube">
		</a>
	</li>
</ul>