<ul>
	<li>
		<a href="#">
			<span>Facebook</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span>Twitter</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span>Google plus</span>
		</a>
	</li>
	<li>
		<a href="#">
			<span>YouTube</span>
		</a>
	</li>
</ul>