/*
html, body {
	height: 100%;
}
*/
.article-full {
	margin-top:0;
	text-align:center;
	background-color:#fff;
	
	.main-content {
		@extend .content-wrapper;
		text-align:left;

		h1 {
			margin-top: rhythm(3);
			@extend h2;
		}
	}

	> *:nth-child(n+2) {
		margin-top: rhythm(7);
	}
}

.article-header {
	text-align:left;
	background-repeat: no-repeat;
	background-position: 50% 0;
	//padding-top: rhythm(2);
	//padding-bottom: rhythm(4);


	.content-block {
		overflow: visible;

		.elm-image {
			margin-left: -$content-margin;
			margin-right: -$content-margin;
			img {
				width: 100%;
				opacity: 1;
			}
		}
		.elm-content {
			h1 {
				@include adjust-font-size-to($size-xxxl);
			}
			p {
				@include adjust-font-size-to($size-lg);
				color: $color-primary;
				font-weight: 300;
			}
		}
	}



}


.type-article {
	
	.main-content {
		max-width: 636px + (2 * 30px);
		margin-left: auto;
		margin-right: auto;

		@include layout(6 6, $gutter: 1.25) {
			.content-block {

				.elm-image {
					margin-top: rhythm(3);
					margin-bottom: rhythm(4);


					&.full-width {
						@include grid-span(2, 1);
						img {
							width:100%;
						}
					}

					&.inline-left {
						clear:left;
						@include float-span(1, 1);
					}

					&.inline-right {
						clear:right;
						@include float-span(1, 2);
						margin-left: gutter-span();
					}
				}
				.elm-content {
					width:auto;
					float:none;
					clear:none;
					display:inline;
				}
			}
		}
	}
/*
	.article-header {

		background-color: $color-background;


		@include breakpoint(0 $sm) {
			height: auto !important;

			.elm-content {
				overflow:hidden;
				margin-top: rhythm(4);
				margin-bottom: rhythm(2);

			}
		}
		body:not(.scroll-top) & {
				height:auto !important;	
		}

		@include breakpoint($sm, true) {
			padding-top: 0;
			padding-bottom: 0;
			background-image:none !important;

			@include layout(6 6, $gutter:60/68) {
				.content-block {
					position: relative;
					overflow: hidden;
					margin-top: rhythm(8);
					margin-bottom: rhythm(8);

					.elm-image {
						position:relative;
						@include grid-span(1,2);
						
						overflow:hidden;

						transition-property: position,margin,transform,top,right,bottom,left,opacity;
						transition-duration: 0.5s;


						&:before{
							content: "";
							display: block;
							padding-top: 600px / 465px * 100%;
						}

						img {
							position: absolute;
							opacity:1;
							top:0;
							left: 50%;
							height: 100%;
							width: auto;
							transform: translate(-50%,0);
						}

					}

					.elm-content {
						position:relative;
						display:block;
						//transition: all .5s;
						@include grid-span(1,1);

					}
				}
			}


		}
	}

	@include breakpoint($md) {
		.article-header {

			body:not(.legacy) & {
				
				.elm-content {
					position: absolute;
					height:100%;

					display:flex;
					//align-items: center;
					justify-content: center;
					flex-direction: column;

				}				
			}
		}
	}
	@include breakpoint($sm, true) {

		.article-header {

			body:not(.scroll-top) & {
				height:auto !important;			
			}

			body.scroll-top:not(.legacy) & {

				position:relative;
	
				
				.content-wrapper,
				.content-block {
					position: static;
					overflow: visible;
					margin:0;
					padding:0;
					width:100%;
					height:100%;
					max-width: none;

				}

				.content-block {

					.elm-content {
						position:absolute;
						top:50%;
						left:50%;
						width: $sm;
						margin: 0;
						z-index:5;
						transform: translate(-50%,-50%);
						text-align: center;

						//text-shadow: 0 0 5px rgba(255,255,255,.2), 0 0 30px rgba(0,0,0,.9);
						text-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 25px rgba(0,0,0,.3);

						h1,
						h2 {
							color:#fff;
						}

						> *:nth-child(n+2) {
							position:absolute;
							bottom:0;
							opacity: 0;
						}
					}
					.elm-image {
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						width:100%;
						height:100%;
						margin:0;
						overflow: hidden;
						z-index: 4;
						opacity: .6;

						img {
							position:absolute;
							opacity: 1;
							width:auto;
							height:auto;
							min-width: 100%;
							min-height: 100%;
							transform: translate(-50%,0);
							top:0;
							margin:0;
							
						}
					}
				}
			}

		}
		
	}

	*/
}

.csstransitions .type-article {

}

/*
html:not(.csstransitions) .type-article,
.csstransitions body:not(.scroll-top) .type-article {
*/
.type-article {

	.article-header {
		background-color: $color-background;
		background-image: none !important;


		.elm-content {
			overflow:hidden;
			margin-top: rhythm(4);
			margin-bottom: rhythm(2);

		}

		@include breakpoint(0 $sm, true) {
			min-height: 0 !important;
		}

		@include breakpoint($sm, true) {
			position: relative;
			padding-top: 0;
			padding-bottom: 0;
			overflow: hidden;

			display:table;
			width: 100%;

			.content-wrapper {
				position:relative;
				display: table-cell;
				height: 100%;
				width: 100%;
				max-width: none;
				margin:0;
				padding:0;
				vertical-align: middle;
				text-align: center;
				overflow: hidden;
			}
			.content-block {
				position:static;
				max-width: $lg + (2 * $content-margin-em);
				margin: 0 auto;
				padding:0 $content-margin;
				text-align: left;
			}


			.elm-image {
				position:absolute;
				top:0;
				left:0;
				bottom:0;
				right:0;
				width:100%;
				height:100%;
				margin:0;
				padding:0;
				z-index:1;

				transition-delay: 0.5s;
				transition-property: transform, min-width;

				img {
					display:block;
					position: relative;
					margin:0;
					min-width: 100%;
					min-height: 100%;
				}

			}


			.elm-content {
				position: relative;
				display:inline-block;
				z-index:5;
				float:none;
				max-width: 45%;
				margin:0;

				transform: translateX(56%);
				transition-property: transform, color, text-shadow;
				transition-delay: 0.5s;

				text-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 25px rgba(0,0,0,.3);

				color: #fff;

				h1,
				h2 {
					color:inherit;
				}
			}
			
			.elm-content > h1 + span {
				display:block;
			}
			.elm-content > :nth-child(n+2) {
				visibility: visible;
				opacity: 0;
				transform: translateY(100%);
				transition-property: transform, opacity;
			}

			.elm-content,
			.elm-content > :nth-child(n+2),
			.elm-image,
			&:before,
			&:after {
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				transition-duration: 0.5s;
			}

			&:before,
			&:after {
				display: block;
				content: ' ';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				transition-property: left;
				transition-delay: 0.5s;
			}

			&:before {
				background-color: rgba(255,255,255, .4);
				border: 0px solid $color-background;
				transition-property: background-color, border-width;
			}

			&:after {
				left:-100%;
				width: 54%;
				background: $color-background;
			}


			body:not(.scroll-top) & {

				&:before,
				&:after {
					transition-delay: 0s;
				}
				&:before {
					background-color: rgba(255,255,255, 0);
					border: rhythm(8) solid $color-background;
				}

				&:after {
					left:0;
					width: 54%;
					height: 100%;
					background: $color-background;
				}

				.elm-content {
					color: $color-primary;
					transform: translateX(0);
					transition-delay: 0s;
					text-shadow: none;
				}

				.elm-content > h1 + span,
				.elm-content > :nth-child(n+2) {
					transform: translate(0);
					opacity: 1;
					transition-delay: 0.5s;
				}

				.elm-image {

				}
			}


/*
			@include layout(6 6, $gutter:60/68) {
				.content-block {
					position: relative;
					overflow: hidden;
					margin-top: rhythm(8);
					margin-bottom: rhythm(8);

					.elm-image {
						position:relative;
						@include grid-span(1,2);
						
						overflow:hidden;

						&:before{
							content: "";
							display: block;
							padding-top: 600px / 465px * 100%;
						}

						img {
							position: absolute;
							opacity:1;
							top:0;
							left: 50%;
							height: 100%;
							width: auto;
							transform: translate(-50%,0);
						}

					}

					.elm-content {
						position:relative;
						display:block;
						//transition: all .5s;
						@include grid-span(1,1);

					}
				}
			}

*/

		}
	}
/*
	@include breakpoint($md) {
		.article-header {

			body:not(.legacy) & {
				
				.elm-content {
					position: absolute;
					height:100%;

					display:flex;
					//align-items: center;
					justify-content: center;
					flex-direction: column;

				}				
			}
		}
	}
	*/
}


.type-product {

	.article-header {
		padding:0;
		
		.content-block {
			overflow: visible;

			.elm-image {
				margin-left: -$content-margin;
				margin-right: -$content-margin;
				img {
					width: 100%;
					opacity: 1;
				}
			}	
		}

		.elm-actions {
			position:relative;
			margin: rhythm(4) 0;
			a {
				@extend %button;
				font-family: $font-header;
				font-weight: $light;
			}
		}
	}

/*
	.article-header-3d {
		text-align:left;
		padding-top: 0;
		padding-bottom: 0;


		.content-block {
			position:relative;
			overflow: visible;

			.elm-image,
			.elm-content {
				width:auto;
				margin:0;
				float:none;
				clear:none;
			}

			.elm-image {
				margin: 0 (-1 * $content-margin);

				//@include background-image(linear-gradient(to bottom, $light-gray 0%, $light-gray 71.8181%, #fff 71.8181%, #fff 100%));
				background-image: linear-gradient(to bottom, $light-gray 0%, $light-gray 71.8181%, #fff 71.8181%, #fff 100%);

				img {
					display:block;
					max-width: 100%;
					opacity: 1;
				}
			}
			.elm-content {
				margin-top: -10%;

				h1 {
					@include adjust-font-size-to($size-xxxl);
				}
				p {
					@include adjust-font-size-to($size-lg);
					color: $color-primary;
					font-weight: 300;
				}
			}
			.elm-actions {
				position:absolute;
				top: rhythm(6);
				width: 100%;
				text-align: center;

				a {
					@extend %button;
					font-family: $font-header;
					font-weight: $light;
				}
			}
		}
	}
*/
	@include breakpoint(0 $sm, true) {
		.article-header {
			background-image: none !important;
		}
	}
	@include breakpoint($sm, true) {

		.article-header {
			
			background-size: cover;
			background-position: 50% 50%;
			overflow: hidden;
			
			max-height: 500px;

			.content-wrapper {
				position:relative;

				&:before{
					content: "";
					display: block;
					//padding-top: 37.26%;
					padding-top: 800px / 1280px * 100%;
				}


			}

			.content-block {
				position:absolute;
				top:rhythm(8);
				left:$content-margin;

				.elm-image {
					position: absolute;
					top:0;
					left:0;
					width: 100%;

					img {
						opacity: 0;
					}
				}
				.elm-content {
					position: relative;
					margin:0;
					float:none;
					width:auto;
					max-width: 640px;

					transition: color 1s ease;

//					text-shadow: 0 0 1px #fff, 0 0 5px rgba(255,255,255,.4), 0 0 20px rgba(255,255,255,.9);
					text-shadow: 0 0 2px rgba(255,255,255,.5), 0 0 25px rgba(255,255,255,.3);
				}

				.elm-actions {
					a {
						//box-shadow: 0 0 30px rgba(255,255,255,.5);
						text-shadow: 0 0 2px rgba(255,255,255,.5), 0 0 25px rgba(255,255,255,.3);
					}
				}


				&.background-light {
					.elm-content {

						color:#fff;


					}
				}


			}

		}


		.article-header-3d {
			//@include background-image(linear-gradient(to bottom, $light-gray 0%, $light-gray 71.8181%, #fff 71.8181%, #fff 100%));
			background-image: linear-gradient(to bottom, $light-gray 0%, $light-gray 71.8181%, #fff 71.8181%, #fff 100%);
			margin-bottom: rhythm(10);

			.content-block {
				overflow: hidden;

				.elm-image {
					background:none;
				}
				.elm-content {
					position:absolute; 
					margin-top:0;
					top: 9%;
				}
				.elm-actions {
					top: auto;
					bottom: rhythm(2);
				}
			}
		}

		.main-content {
			@include layout(6 6, $gutter: 1.25) {
				.content-block {

					.elm-image {
						@include grid-span(1, 2);
					}
					.elm-content {
						@include grid-span(1, 1);
					}
				}
			}
		}
	}
}


.banner {
	background: $color-background;
	
	.content-wrapper {
		margin-top:rhythm(4);
		padding-top: rhythm(6);
		padding-bottom: rhythm(6);
	}

	h1 {
		@include adjust-font-size-to($size-xxxl);
	}

	.elm-content {
		float:none;
		width: auto;
		margin:0 auto;
		max-width: 636px;
	}

}



.related {
	background-color: $color-background;

	
	.content-wrapper > *,
	.content-wrapper > .flexslider .slides > li {
		margin-top: rhythm(8);
		margin-bottom: rhythm(8);
	}

	.content-wrapper > .flexslider {
		margin:0  (-1 * $content-margin);

		.slides > li .content-block {
			margin:0 $content-margin;
		}
	}

	.flex-direction-nav {
		display:none;
	}
	.flex-control-nav {
		bottom: rhythm(2);
	}


	@include breakpoint($sm, true) {


		.flex-direction-nav {
			display:block;
		}
		.flex-control-nav {
			display:none;
		}

		@include layout(6 6, $gutter:60/68) {
			.content-block {
				.elm-image {
					@include grid-span(1,1);
				}
				.elm-content {
					@include grid-span(1,2);
				}
			}
		}
	}
	
}

.features {
	background: $color-background;

	ul {
		margin:rhythm(6) 0;
		padding:0;
		list-style: none;
	}

	li {
		padding-left:100px;
		overflow: hidden;

		&:nth-child(n+2) {
			margin-top: rhythm(4);
		}
	}

	.icon {
		display:inline;
		float:left;
		margin-left: -100px;
		width: 80px;
		height: 80px;
		font-size: 80px;
	}


	@include breakpoint($md, true) {
		ul {
			display: table;
			width: 100%;
			table-layout: fixed;
		}
		li {
			display: table-cell;
			vertical-align: top;
			text-align: left;
			padding-right: gutter-span();
			margin-top: 0;
		}
		.icon {
			margin-top: rhythm(2);
		}
	}
}

.facts {
	@extend .content-wrapper;
	max-width: $xs;


	.flex-direction-nav {
		display:none;
	}
	.flex-control-nav {
		position: static;
		bottom: auto;
		margin: rhythm(2) 0 rhythm(10);

		ul {
			counter-reset: element;
		}
		li {
			counter-increment: element;
		}

		.flex-active {
			position:relative;

	      &:before {
	        content: '';
	        width: 1px;
	        height: 20px;
	        position: absolute;
	        left: 50%;
	        margin-left: 0px;
	        background-color: $color-primary;
	        bottom: -20px;
	      }

	      &:after {
	        content: counter(element);
	        text-align: center;
	        text-indent: 0;
	        position: absolute;
	        font-size: 28px;
	        font-family: $font-header;
	        color: $color-primary;
	        font-weight: $light;
	        bottom:-64px;
	        left: 50%;
	        line-height: 44px;
	        width: 44px;
	        height: 44px;
	        box-shadow: inset 0 0 0 1px $color-primary;
	        border-radius: 44px;
	        margin-left: -22px;
	      }
	    }

	}

}