
$color-background: #f5f5f5;

$color-brand: #004990;
$color-primary: #00b2ce;

$light-gray: #f0f0f0;
$medium-gray: #ccc;
$dark-gray: #707070;

$color-borders: #bcbcbc;
$color-borders-light: #e8e8e8;


$color-text-body: #707070;
$color-text-headers: $color-primary;
$color-links: $color-primary;
$color-links-active: $color-primary;