
//$font-header: "Helvetica Neue", "HelveticaNeueW01", Helvetica, arial, sans-serif;
$font-header: "HelveticaNeueW01", Helvetica, arial, sans-serif;
$font-body: Arial, Helvetica, sans-serif;


$light: 300;
$normal: 400;
$bold: 600;
$heavy: 800;

$size-xxxl: 50px;
$size-xxl:	30px;
$size-xl:	22px;
$size-lg:	18px;
$size-md:	15px;
$size-sm:	12px;
$size-xs: 	10px;

$base-font-size: $size-md;
$base-line-height: 6px;
$adjusted-line-height: 28px;

$rhythm-unit: "rem";
$rem-with-px-fallback: true;

