---
layout: default.hbs
title: About us
page_type: article
---

{{>hero}}


<div class="article-full type-article">
	<div class="banner">
		<div class="content-wrapper">
			<div class="content-block">
				<div class="elm-content">
					<h1>
						Who we are and what we do
					</h1>
					<p>
						Traveling can pose some unique challenges if you are dealing with urinary problems – but the challenge of being away from home doesn’t have to be insurmountable. With proper preparation, you can find the peace of mind to relax and enjoy your trip.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">



		<div class="content-block">

			<div class="elm-image inline-left">
				<img src="http://lorempixel.com/470/275/people/1" alt="Image text" border="0">
			</div>
			<div class="elm-content">
				<p>Experiencing new things is part of the allure of traveling — but when it comes to feeling secure and comfortable, it would be nice to keep the surprises to a minimum. Leaving your home base when you have medical needs requires that you make some extra preparations for both your journey and stay. No matter where you go, urinary problems don’t have to hold you back.</p>

				<h2>Pack smart and plan ahead</h2>
				<p>When you’re away from home, it’s a good idea to make sure you have a little extra of everything — just in case. Consider the different environments you will encounter during your travels. Whether you enjoy nature, power shopping or delving into fine arts at a museum, make sure you bring enough of your supplies and accessories to suit each situation. Have you made an activity plan for your trip? It’s a good idea to make a corresponding bathroom plan, too. There are websites which can help you locate convenient restrooms wherever you are, like this one.</p>

				<h2>Research before you go</h2>
				<p>While you’re researching top restaurants or must-do attractions, take some time to locate the nearest medical facility in case the need for help arises. If you’ll be away from home for a long time, find the contact information for a catheter supplier where you’ll be staying — and be sure to take your prescription along with you.</p>

				<h2>If you need help</h2>
				<p>Always keep the telephone number of your nurse handy. If you are unable to reach your nurse, you can call us anytime for guidance. If you will be away from home for an extended period, it’s a good idea to find information for a local clinic that can provide quick assistance.</p>
			</div>
		</div>

		<div class="content-block">

			<div class="elm-image full-width">
				<img src="http://lorempixel.com/470/275/people/2" alt="Image text" border="0">
			</div>
			<div class="elm-content">
				<p>Experiencing new things is part of the allure of traveling — but when it comes to feeling secure and comfortable, it would be nice to keep the surprises to a minimum. Leaving your home base when you have medical needs requires that you make some extra preparations for both your journey and stay. No matter where you go, urinary problems don’t have to hold you back.</p>

				<h2>Pack smart and plan ahead</h2>
				<p>When you’re away from home, it’s a good idea to make sure you have a little extra of everything — just in case. Consider the different environments you will encounter during your travels. Whether you enjoy nature, power shopping or delving into fine arts at a museum, make sure you bring enough of your supplies and accessories to suit each situation. Have you made an activity plan for your trip? It’s a good idea to make a corresponding bathroom plan, too. There are websites which can help you locate convenient restrooms wherever you are, like this one.</p>

				<h2>Research before you go</h2>
				<p>While you’re researching top restaurants or must-do attractions, take some time to locate the nearest medical facility in case the need for help arises. If you’ll be away from home for a long time, find the contact information for a catheter supplier where you’ll be staying — and be sure to take your prescription along with you.</p>

				<h2>If you need help</h2>
				<p>Always keep the telephone number of your nurse handy. If you are unable to reach your nurse, you can call us anytime for guidance. If you will be away from home for an extended period, it’s a good idea to find information for a local clinic that can provide quick assistance.</p>
			</div>
		</div>

	</div>
</div>

<div class="related">
	<div class="content-wrapper">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/5/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Passport, VISA, sunglasses and Speedycath Compact</h2>
							<p>Speedycath Compact is the perfect travel catheter for women. A sterile tube, the size of a lipstick, which you twist open and pull. Each tube contains a single use, pre-lubricated catheter ready for insertion. Once finished using the Speedicath, simply slide the tube portion back into the plastic container, dispose and continue your adventures.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/6/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Lorem ipsum dolor</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


