---
layout: default.hbs
title: Article template
grid_title: Recommended stories
grid_maxlength: 3
page_type: article
---



<div class="dynBlock">

<div class="article-full type-article">
<!--
	<div class="dynBlock">
		<div class="article-header" style="background-image:url(http://lorempixel.com/1280/800/people/6/)">
			<div class="content-wrapper">
				<div class="content-block">
					<div class="elm-image">
						<img src="http://lorempixel.com/1280/800/people/6/" alt="Image text" border="0">
					</div>
					<div class="elm-content">
						<h1>
							Lorem ipsum dolor sit amet.
						</h1>
						<p>
							Traveling can pose some unique challenges if you are dealing with urinary problems – but the challenge of being away from home doesn’t have to be insurmountable. With proper preparation, you can find the peace of mind to relax and enjoy your trip.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div class="content-block">

				<div class="elm-image inline-left">
					<img src="http://lorempixel.com/470/275/people/1" alt="Image text" border="0">
				</div>
				<div class="elm-content">
					<p>Experiencing new things is part of the allure of traveling — but when it comes to feeling secure and comfortable, it would be nice to keep the surprises to a minimum. Leaving your home base when you have medical needs requires that you make some extra preparations for both your journey and stay. No matter where you go, urinary problems don’t have to hold you back.</p>

					<h2>Pack smart and plan ahead</h2>
					<p>When you’re away from home, it’s a good idea to make sure you have a little extra of everything — just in case. Consider the different environments you will encounter during your travels. Whether you enjoy nature, power shopping or delving into fine arts at a museum, make sure you bring enough of your supplies and accessories to suit each situation. Have you made an activity plan for your trip? It’s a good idea to make a corresponding bathroom plan, too. There are websites which can help you locate convenient restrooms wherever you are, like this one.</p>

					<h2>Research before you go</h2>
					<p>While you’re researching top restaurants or must-do attractions, take some time to locate the nearest medical facility in case the need for help arises. If you’ll be away from home for a long time, find the contact information for a catheter supplier where you’ll be staying — and be sure to take your prescription along with you.</p>

					<h2>If you need help</h2>
					<p>Always keep the telephone number of your nurse handy. If you are unable to reach your nurse, you can call us anytime for guidance. If you will be away from home for an extended period, it’s a good idea to find information for a local clinic that can provide quick assistance.</p>
				</div>
			</div>

			<div class="content-block">

				<div class="elm-image full-width">
					<img src="http://lorempixel.com/470/275/people/2" alt="Image text" border="0">
				</div>
				<div class="elm-content">
					<p>Experiencing new things is part of the allure of traveling — but when it comes to feeling secure and comfortable, it would be nice to keep the surprises to a minimum. Leaving your home base when you have medical needs requires that you make some extra preparations for both your journey and stay. No matter where you go, urinary problems don’t have to hold you back.</p>

					<h2>Pack smart and plan ahead</h2>
					<p>When you’re away from home, it’s a good idea to make sure you have a little extra of everything — just in case. Consider the different environments you will encounter during your travels. Whether you enjoy nature, power shopping or delving into fine arts at a museum, make sure you bring enough of your supplies and accessories to suit each situation. Have you made an activity plan for your trip? It’s a good idea to make a corresponding bathroom plan, too. There are websites which can help you locate convenient restrooms wherever you are, like this one.</p>

					<h2>Research before you go</h2>
					<p>While you’re researching top restaurants or must-do attractions, take some time to locate the nearest medical facility in case the need for help arises. If you’ll be away from home for a long time, find the contact information for a catheter supplier where you’ll be staying — and be sure to take your prescription along with you.</p>

					<h2>If you need help</h2>
					<p>Always keep the telephone number of your nurse handy. If you are unable to reach your nurse, you can call us anytime for guidance. If you will be away from home for an extended period, it’s a good idea to find information for a local clinic that can provide quick assistance.</p>
				</div>
			</div>

		</div>
	</div>
-->


<div name="" class="article-header" style="background-image:url('http://coloplast.com/Global/Care-Eloqua_Content/R1.13/R1.13_Article-Hero-Large.jpg')"><div class="content-wrapper"><div class="content-block"><div class="elm-image"><img src="http://coloplast.com/Global/Care-Eloqua_Content/R1.13/R1.13_Article-Hero-Large.jpg" alt="" border="0"></div><div class="elm-content"><h1 id="headline_text">Coming to terms with a new routine</h1><span id="main_text"><p>Take charge of your intermittent catheterization routine</p></span></div></div></div></div>

<div class="main-content"><div class="elm-content"><span style="display:none;" id="headline_text"></span><span id="main_text"><p>How often do your bladder issues interfere in your daily life? Probably much more than you want them to. Once you have mastered the technique and routine of intermittent catheterization it will have a positive impact on your life and your feeling of independence.</p></span></div><div name="" class="content-block"><div class="elm-image inline-left"><img src="http://coloplast.com/Global/Care-Eloqua_Content/R1.13/R1.13_Article%202.jpg" alt="" border="0"></div><div class="elm-content"><h1 id="headline_text">The future</h1><p id="main_text"></p><p>If intermittent catheterization (IC) is not a temporary solution for you, you may need to come to terms with having IC as part of your daily routine– and possibly the rest of your life. Just remember, as compared to other available bladder management solutions, IC only takes a short time out of your day. The rest of the time, you can live your life without having to think about your bladder. Over time, your intermittent catheter needs may change.&nbsp; You may have changes in your medical condition or your ability to perform IC. There may also be newer, innovative products that you may like to try. Meeting with your healthcare provider from time to time is recommended as you strive to avoid complications and to maintain good bladder health.</p>
<p>This way you continue to have the product that is right for you according to your needs and lifestyle.</p>
<p><em>These are general guidelines meant to help you with typical questions. You should follow the specific instructions provided by your healthcare provider and the intermittent catheterization solution you are using.</em><em>&nbsp;</em></p><p></p></div></div><div name="" class="content-block"><div class="elm-image inline-left"><img src="http://coloplast.com/Global/Care-Eloqua_Content/R1.13/R1.13_Article%201.jpg" alt="" border="0"></div><div class="elm-content"><h1 id="headline_text"></h1><p id="main_text"></p><p>Still, it is perfectly normal to have worries and doubts during the different stages of changing to a new bladder management routine. If this applies to you, here is some advice that may be useful when you are starting up catheterizing:</p>
<p><strong>Phase 1. Receiving the news:</strong></p>
<p>When you are first introduced to intermittent catheterization (IC), you might feel overwhelmed. Maybe you feel it’s too early for you to be introduced to catheterization. Perhaps you are still struggling with coming to terms with your situation. It is important that you feel that IC is your own decision and that you are well-informed by your healthcare provider about what is going to happen, and that you are given the time to get used to the thought.</p>
<p><strong>Phase 2. Being taught how to do it:</strong></p>
<p>We would normally feel very intimidated by the thought of a “stranger” watching or touching our private parts. It is important that you receive proper instruction from your healthcare provider and that your need for privacy is respected. If you feel that the demonstration was insufficient, don’t hesitate to get the steps repeated.</p>
<p><strong>Phase 3. Trying it at home for the first time:</strong></p>
<p>If you become uncertain when back at home, don’t be afraid to ask for more help. IC is not just a walk in a park. You might need to try a couple of times before you feel confident that you can do it on your own. You might also be afraid of inserting the catheter yourself without any assistance. Knowing your own body is key to understand where the catheter goes. If you haven’t really examined that part of your body, it might seem a bit awkward at first.&nbsp;</p>
<p><strong>-If you are a man,</strong> just looking at the catheter tube might make you think that it is very long – and perhaps the thought can make you afraid of damaging something inside you.</p>
<p>It might help you to watch a short animation about the male anatomy to see where the bladder sits in your body and how the catheter gets there.</p>
<p><strong>-If you are a woman</strong> you might find it difficult to find the urethral opening. Try out different positions if possible, or consider using a handheld mirror.</p>
<p>Also read “Finding it hard to cope with?” which addresses some of the worries you might have about using a catheter.</p>
<p><strong>Phase 4. Finally into the routine and now facing new challenges:</strong></p>
<p>When you need to get back to work or want to travel, your bladder management routine may be challenged by a changed schedule and a new environment (for example public restrooms) and you might even need another type of catheter, which is more compact or includes a urine bag. It is important for you to continue your IC-routine and do not skip catheterizations even though your feeling of security and privacy is not the same. Some planning is all that is required.</p>
<p>In the Care Lifestyle section you can find inspiration and tips for being away from home; travel, work, sports and socializing. Your Coloplast® Care team is more than happy to direct you to the information you need.</p><p></p></div></div>

<div name="" class="content-block"><div class="elm-image inline-right"><img src="http://coloplast.com/Global/Care-Eloqua_Content/R1.1/R1.1_Article%202.jpg" alt="" border="0"></div><div class="elm-content"><h1 id="headline_text"></h1><p id="main_text"></p><p><strong>What if I’m in a public bathroom?</strong></p>
<p>The same rules of hygiene apply everywhere – both at home and on the go. If you need to touch anything after you wash your hands (e.g. if you use a wheelchair, you may touch the door or the hand rims) it’s important to use hand-sanitizing gel or wash your hands again.</p>
<p><strong>How often should I discard my catheter?</strong></p>
<p>According to international guidelines*, it is recommended to use a new sterile catheter for each time you perform intermittent catheterization. The overall goal for one time use of intermittent catheters is to help maintain bladder health and minimize the potential for bacteria overgrowth in the bladder, as this may lead to complications such as urinary tract infections.</p>
<p><em>Effective April 1 2008, the Medicare policy on intermittent catheters changed. The Medicare policy provides one new sterile intermittent catheter (and one sterile package of lubricant- if needed) for each catheterization. Most insurance plans follow the medicare guidelines, however, the amount of catheters you are allowed each month under your insurance plan may vary according to your individual benefit under your healthcare plan.</em></p>
<p><strong>Effective hand washing</strong></p>
<p>&nbsp;You should wash your hands both before and after using your intermittent catheter to help prevent urinary tract infections (UTI’s). mAs a catheter user, it is especially important to wash your hands correctly and frequently, to avoid the transfer of germs to your catheter or your body. A catheter can pick up bacteria and push the bacteria into the bladder.</p>
<p>Watch the instruction videos on how to insert a catheter (male and female), where optimal hygiene before and after is introduced. You’ll find them in our “How to use different products” theme.</p>
<p>Always remember that users performing self-catheterization should follow the advice of their physician.</p>
<p><em>These are general guidelines meant to help you with typical questions. You should follow the specific instructions provided by your healthcare provider and the intermittent catheterization solution you are using.</em><em>&nbsp;</em></p><p></p></div></div>

<div name="" class="content-block"><div class="elm-image full-width"><img src="http://coloplast.com/Global/Care-Eloqua_Content/R.1.4/R1.4_Article%201.jpg" alt="" border="0"></div><div class="elm-content"><h1 id="headline_text">Symptoms that may be related to UTI:</h1><p id="main_text"></p><ul>
<br>
</ul>
<ul>
<li>Pain or discomfort when passing urine</li>
<li>An urge to pass urine frequently</li>
<li>Cloudy and strongly smelling urine (unrelated to foods that can cause urine odor) </li>
<li>Blood in the urine (enough blood to make the urine the color of cranberry juice)</li>
<li>Unexpected urine leakage</li>
<li>Fever/sweating or chills</li>
<li>Pain in the bladder (above pubic bone area)</li>
<li>Pain in the kidney area (lower back area) </li>
<li>Headache, nausea, </li>
<li>More fatigued and just feeling poorly</li>
<li>If you have a spinal cord injury, you may also experience increased episodes of autonomic dysreflexia (AD) or increased spasms of the legs</li>
<li>Confusion- especially in the older population.</li>
</ul>
<p>If you experience any of the symptoms listed, you should consult your healthcare provider..</p><p></p></div></div>

</div>

</div>


<div class="related">
	<div class="content-wrapper">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/5/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Passport, VISA, sunglasses and Speedycath Compact</h2>
							<p>Speedycath Compact is the perfect travel catheter for women. A sterile tube, the size of a lipstick, which you twist open and pull. Each tube contains a single use, pre-lubricated catheter ready for insertion. Once finished using the Speedicath, simply slide the tube portion back into the plastic container, dispose and continue your adventures.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/6/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Lorem ipsum dolor</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="content-wrapper">
	{{>grid_list}}
</div>

</div>
