---
layout: default.hbs
title: Contact us
page_type: info
---

{{>hero}}

<div class="content-wrapper contact-page">
	<div class="contact-form">
		<h2>Send us a message</h2>
		{{>form_contact}}
	</div>

	<div class="contact-info">
		<h2>Coloplast Care</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. 
		</p>

		<h2>Our social channels</h2>
		{{>social}}		
	</div>
</div>