---
layout: default.hbs
title: Product template
grid_title: Related products
grid_maxlength: 3
page_type: product
---



<div class="article-full type-product">
	<div class="article-header" style="background-image:url(http://www.coloplast.com/Global/Care-Eloqua_Content/Solutions/S2.3/S2.3_Article-Hero-Large.jpg)">
		<div class="content-wrapper">
			<div class="content-block">
				<div class="elm-image">
					<!--<img src="../_source/assets/img/samples/product_hero_speedicath.png" alt="Image text" border="0">-->
					<img src="http://www.coloplast.com/Global/Care-Eloqua_Content/Solutions/S2.3/S2.3_Article-Hero-Large.jpg" alt="Product" border="0">
				</div>
				<div class="elm-content">
					<h1>
						SpeediCath<sup>®</sup> Compact for women
					</h1>
				</div>
				<div class="elm-actions">
					<a class="button" href="#form-order-sample-overlay">Order free sample</a>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
		<div class="content-block">

			<div class="elm-image inline-left">
				<img src="http://lorempixel.com/470/275/people/1" alt="Image text" border="0">
			</div>
			<div class="elm-content">
				<h1>Product description</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="features">
<!-- 
Available feature icons: 
icon-feature-curved-tip
icon-feature-discrete
icon-feature-easy-open
icon-feature-easy-use
icon-feature-hygenic
icon-feature-instant
icon-feature-preconnected
icon-feature-size-variety
-->
		<div class="content-wrapper">
			<ul>
				<li>
					<span class="icon icon-feature-easy-use"></span>
					<h2>Easy grip</h2>
					<p>The easy-grip handle allows for hygienic non-touch insertion and control </p>
				</li>
				<li>
					<span class="icon icon-feature-instant"></span>
					<h2>Ready to use</h2>
					<p>Instantly ready to use due to the unique hydrophilic coating</p>
				</li>
				<li>
					<span class="icon icon-feature-hygenic"></span>
					<h2>Environmental</h2>
					<p>PVC- and phthalate-free limiting the environmental impact.</p>
				</li>

			</ul>
		</div>
	</div>
	<div class="facts">
		<h1>Facts & tips</h1>
		<div class="flexslider">
			<ul class="slides">
				<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel velit lacus. Proin pulvinar leo sit amet ligula sagittis vulputate. Sed consequat finibus nisl.</li>
				<li>Phasellus dapibus metus et nisl volutpat, in bibendum diam varius. Pellentesque nunc orci, viverra sit amet felis vel, vulputate elementum justo</li>
				<li>Donec ultricies interdum nisi, at euismod tortor congue vitae. Etiam eget luctus dolor. Nam sed viverra ex, vitae elementum sapien.</li>
				<li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In mi odio, consectetur nec velit quis, lobortis commodo nunc. Suspendisse potenti. </li>
				<li>Vestibulum tempus sem eget justo semper cursus. Nam dignissim viverra nisi. Nam efficitur lectus turpis, eu ornare nulla egestas vitae. Nulla et ipsum in turpis rhoncus mollis. Nulla facilisi. Curabitur eget justo rutrum, dignissim lacus vel, mollis purus.</li>
				<li>Proin vitae dolor in dui fermentum gravida et tempus dui. Nulla convallis ex ut diam mollis, vitae aliquam nisl molestie. Curabitur a ligula semper, tempor turpis sed, malesuada libero.</li>
				<li>Sed consectetur rhoncus dolor vitae ultricies. Etiam sem nunc, consequat quis egestas fringilla, maximus at nibh. Praesent est diam, vulputate vitae est in, laoreet condimentum tortor.</li>
				<li>Aenean pretium tincidunt dui, a luctus augue convallis eu. Ut enim risus, dictum non felis vel, eleifend commodo orci.</li>
			</ul>
		</div>
	</div>
</div>

<div class="related">
	<div class="content-wrapper">
		<div class="flexslider">
			<ul class="slides">
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/5/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Passport, VISA, sunglasses and Speedycath Compact</h2>
							<p>Speedycath Compact is the perfect travel catheter for women. A sterile tube, the size of a lipstick, which you twist open and pull. Each tube contains a single use, pre-lubricated catheter ready for insertion. Once finished using the Speedicath, simply slide the tube portion back into the plastic container, dispose and continue your adventures.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="content-block">
						<div class="elm-image">
							<img src="http://lorempixel.com/470/275/people/6/" alt="Image text" border="0">
						</div>
						<div class="elm-content">
							<h2>Lorem ipsum dolor</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="content-wrapper">
	{{>grid_list}}
</div>

{{>form_order_sample}}
