---
layout: default.hbs
title: Profile page - caregiver
page_type: profile
show_signup: false
---


<div class="content-wrapper">

	<div class="form-page">
		<div class="elm-content">

			<h1>About you</h1>

			<form>
				<div class="form-row">
					<label class="input-text" for="profile-firstname">
						<div class="label">First name</div>
						<input type="text" id="profile-firstname" name="firstname" value="Janet"/>
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="profile-lastname">
						<div class="label">Last name</div>
						<input type="text" id="profile-lastname" name="lastname" value="Smith"/>
					</label>
				</div>
				<div class="form-row">
					<label class="input-text" for="profile-email">
						<div class="label">E-mail</div>
						<input type="email" id="profile-email" name="email" />
					</label>
				</div>

				<hr />

				<h2>Please tell us more about the person you take care of</h2>

				<div class="form-row">
					<label class="input-text" for="profile-receiver-firstname">
						<div class="label">First name</div>
						<input type="text" id="profile-receiver-firstname" name="receiver-firstname" value="Jane"/>
					</label>
				</div>
				<div class="form-row radio-group icon-buttons">

					<label class="input-radio" for="profile-gender-female">
						<input id="profile-gender-female" name="gender" type="radio" value="female">
						<span class="icon icon-gender-female"></span>
						<span class="label">Female</span>
					</label>
					<label class="input-radio" for="profile-gender-male">
						<input id="profile-gender-male" name="gender" type="radio" value="male">
						<span class="icon icon-gender-male"></span>
						<span class="label">Male</span>
					</label>

				</div>
				<div class="form-row">
					<label class="input-checkbox" for="profile-mobility-wheelchair">
						<input id="profile-mobility-wheelchair" name="mobility" type="checkbox" value="wheelchair">
						<span class="icon icon-checkmark"></span>
						<span class="label">The person uses a wheelchair</span>
					</label>
				</div>

				
				<div class="form-row select-group date-group">
					<h3>When is the person's birthday?</h3>
					<label class="input-select date-year" for="profile-birthdate-year">
						<select id="profile-birthdate-year" name="year">
							<option value="">Year</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
						</select>
					</label>

					<label class="input-select date-month" for="profile-birthdate-month">
						<select id="profile-birthdate-month" name="month">
							<option value="">Month</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</label>

					<label class="input-select date-day" for="profile-birthdate-day">
						<select id="profile-birthdate-day" name="day">
							<option value="">Day</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</label>
				</div>

				<div class="form-row select-group date-group">
					<h3>How long has the person been using a catheter</h3>

					<label class="input-select date-year" for="profile-catheterdate-year">
						<select id="profile-catheterdate-year" name="year">
							<option value="">Year</option>
							<option value="2010">2010</option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
						</select>
					</label>

					<label class="input-select date-month" for="profile-catheterdate-month">
						<select id="profile-catheterdate-month" name="month">
							<option value="">Month</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</label>

					<label class="input-select date-day" for="profile-catheterdate-day">
						<select id="profile-catheterdate-day" name="day">
							<option value="">Day</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</label>
				</div>

				<div class="form-row">
					<h3>What is the cause of the person's incontinence symptoms?</h3>
					<label class="input-select" for="profile-symptoms-cause">
						<select id="profile-symptoms-cause" name="symptoms-cause">
							<option value="">Please choose here...</option>
							<option value="opt1">Option 1</option>
							<option value="opt2">Option 2</option>
							<option value="opt3">Option 3</option>
							<option value="opt4">Option 4</option>
						</select>
					</label>
				</div>

				<hr />

				<h2>Your daily life</h2>

				<div class="form-row">
					<h3>Is the person currently employed?</h3>
					<div class="radio-group input-buttons">
						<label class="input-radio" for="profile-currently-employed-yes">
							<input id="profile-currently-employed-yes" name="currently-employed" type="radio" value="yes">
							<span class="label">Yes</span>
						</label>
						<label class="input-radio" for="profile-currently-employed-no">
							<input id="profile-currently-employed-no" name="currently-employed" type="radio" value="no">
							<span class="label">No</span>
						</label>
					</div>
				</div>

				<div class="form-row">
					<h3>Does the person live with a partner?</h3>
					<div class="radio-group input-buttons">
						<label class="input-radio" for="profile-partner-yes">
							<input id="profile-partner-yes" name="partner" type="radio" value="yes">
							<span class="label">Yes</span>
						</label>
						<label class="input-radio" for="profile-partner-no">
							<input id="profile-partner-no" name="partner" type="radio" value="no">
							<span class="label">No</span>
						</label>
					</div>
				</div>

				<div class="form-row">
					<h3>Does the person participate in sports or fitness?</h3>
					<div class="radio-group input-buttons">
						<label class="input-radio" for="profile-fitness-yes">
							<input id="profile-fitness-yes" name="fitness" type="radio" value="yes" checked>
							<span class="label">Yes</span>
						</label>
						<label class="input-radio" for="profile-fitness-no">
							<input id="profile-fitness-no" name="fitness" type="radio" value="no">
							<span class="label">No</span>
						</label>
					</div>
				</div>

				<div class="form-row">
					<h3>Which incontinence product is the person currently using?</h3>
					<label class="input-select" for="profile-current-solution">
						<select id="profile-current-solution" name="current-solution">
							<option value="">Please choose here...</option>
							<option value="opt1">Option 1</option>
							<option value="opt2">Option 2</option>
							<option value="opt3">Option 3</option>
							<option value="opt4">Option 4</option>
						</select>
					</label>
				</div>

				<div class="form-row">
					<h3>Select the brand of catheter in use</h3>
					<label class="input-select" for="profile-current-brand">
						<select id="profile-current-brand" name="current-brand">
							<option value="">Please choose here...</option>
							<option value="opt1">Option 1</option>
							<option value="opt2" selected>Option 2</option>
							<option value="opt3">Option 3</option>
							<option value="opt4">Option 4</option>
						</select>
					</label>
				</div>

				<hr />

				<div class="button-group">

					<button class="input-submit" type="submit">
						Save details
					</button>
				</div>

			</form>
		</div>
		<div class="elm-image">
			<img src="http://lorempixel.com/470/645/nature/3/" alt="Image text" border="0">
		</div>
	</div>
</div>