---
layout: default.hbs
title: Thank you for filling out your details
page_type: confirmation
show_signup: false
grid_title: Recommended stories
---

<div class="content-wrapper">

	<div class="content-block">
		<h1>Thank you for filling out your details</h1>

		<hr />

		<h2>Would you like to tell us more?</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
		
		<p>
			<a href="#" class="button">Yes</a>
		</p>

		<hr />
	</div>

	{{>grid_list}}
</div>