
@mixin divider-shadow() {
	position: relative;

	&:after {
		position:absolute;
		content: '';
		left: -100%;
		bottom: -8px;
		width:300%;
		height:8px;
		background-image: 
			linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,0) 30%), 
			radial-gradient(50% 10px at 50% 0px, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 50%);
	}
}

@mixin full-width-bg($args...) {
	position: relative;

	&:before {
		position:absolute;
		content: '';
		left:-100%;
		width:300%;
		top:0;
		bottom:0;
		background: $args;
		z-index:-1;
		border: 1px solid transparent;
	}
}
