
%divider-shadow {

	@include background-image(
		linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0) 30%)
	);
	background-image: 
		linear-gradient(to bottom, rgba(0,0,0,.2), rgba(0,0,0,0) 30%), 
		radial-gradient(100% 10px at 50% 2px, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 50%);
	z-index: 5;

}

%divider-shadow-before {
	position: relative;
	&:before {
		position:absolute;
		content: '';
		left:0;
		width: 100%;
		top: 0;
		height:8px;

		@extend %divider-shadow;
	}
}

%divider-shadow-after {
	position: relative;
	&:after {
		position:absolute;
		content: '';
		left:0;
		width: 100%;
		bottom: -8px;
		height:8px;

		@extend %divider-shadow;
	}
}

@mixin full-width-bg($args...) {
	position: relative;
	background: $args;
	overflow: hidden;

	@include breakpoint($lg-bp, true) {
		width: $lg;
		overflow: visible;
		clear:both;


		&:before {
			position:absolute;
			content: '';
			left:-100%;
			width:300%;
			top:0px;
			bottom:0;
			background: $args;
			z-index:-1;
		}

	}
}

@mixin visually-hidden() {
	position: absolute;
	left: -9999px;
}
@mixin visually-not-hidden($left: auto) {
	position: static;
	left: $left;
}


@mixin icon-on-element($char) {

  &:before {
	@include icon-font-family($char);
	@include icon-font();
	@include icon-content($char);
  }
}
