

.content-block {
	overflow:hidden;
	clear:both;

	.elm-image {
		text-align:center;
		img {
			max-width:100%;
			display:block;
			margin:0 auto;
		}
	}

	h1,
	h2,
	h3,
	h4,
	p {
		max-width: .75 * $lg;
	}

	@include breakpoint($sm, true) {
		.elm-image {
			@include grid-span(6,1);
		}
		.elm-content {
			@include grid-span(6,7);
		}
	}
}

.related {
	background-color: $color-background;

	
	.content-wrapper > * {
		margin-top: rhythm(6);
		margin-bottom: rhythm(6);
	}


	@include breakpoint($sm, true) {

		@include layout(6 6, $gutter:60/68) {
			.content-block {
				.elm-image {
					@include grid-span(1,1);
				}
				.elm-content {
					@include grid-span(1,2);
				}
			}
		}
	}
	
}

