
.dynBlock {
	margin:0;
}

.content-block {
	clear:both;
	@include clearfix;

	// Fix for webkit redraw issues when turning off popups
	transform: translateZ(0);
	.article-header & {
		transform: none;
	}

	.elm-image {
		text-align:center;
		img {
			width:100%;
			display:block;
			margin:0 auto;
		}
	}

	p {
		max-width: .75 * $lg;
	}

	ul, ol {
		overflow-x: hidden;
	}

	@include breakpoint($sm, true) {
		.elm-image {
			@include grid-span(6,1);
		}
		.elm-content {
			@include grid-span(6,7);
		}
	}


}


ul.checkmarks {
	list-style:none;

	li {
		position:relative;
		margin-left: 0;
		padding-left: 2em;

		@include icon-on-element($checkmark);
		&:before {
			position:relative;
			float:left;
			margin-left: -2em;
			margin-top: 0.4em;
		}
	}
}


ul.social {
	display:inline;
	float:left;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: rhythm(4);
	padding:0;
	list-style:none;

	li {
		display:inline;
		float:left;
		color:$dark-gray;

		&:nth-child(n+2) {
			margin-left:5px;
		}

		a {
			color: $dark-gray;
			transition-property: color, box-shadow;
			transition-duration: .3s;
			&:hover {
				color:$medium-gray;
				.icon {
					box-shadow:inset 0px 0px 0px 1px $medium-gray;
				}
			}
		}
	}


	span:first-child {
		position:absolute;
		left: -999em;
	}
	.icon {
		display:inline;
		float:left;

		font-size: 18px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		margin:0;
		border-radius: 15px;
		overflow:hidden;
		box-shadow:inset 0px 0px 0px 1px $dark-gray;
	}
	.icon-social-twitter {
		//font-size:12px;
	}
	.icon-social-youtube {
		//font-size:18px;
	}
	.icon-social-googleplus {
		//line-height: 32px;
	}

}
