
.content-block {
	clear:both;
	@include clearfix;

	.elm-image {
		text-align:center;
		img {
			max-width:100%;
			display:block;
			margin:0 auto;
		}
	}

	p {
		max-width: .75 * $lg;
	}

	@include breakpoint($sm, true) {
		.elm-image {
			@include grid-span(6,1);
		}
		.elm-content {
			@include grid-span(6,7);
		}
	}
}

ul.checkmarks {
	li {
		padding-left: 0.8em;

		@include icon-on-element($checkmark);
		&:before {
			position:relative;
			left: -0.8em;
		}
	}
}