
footer#page-footer {
	width:100%;


	.main-footer {
		background: $dark-gray;
		color: #fff;
		
		h2,
		a {
			color:inherit;
		}
		
		.button {
			background: $light-gray;
			color: $dark-gray;
		}
	}

	.secondary-footer {
		background: #fff;


		ul {
			display:inline;
			float:left;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			display:inline; 
			float:left;
			margin: rhythm(1) 0;
			padding: 0;
			@include adjust-font-size-to($size-xs);
			@include adjust-leading-to(4);

			a {
				text-decoration: underline;
			}


			&:nth-child(n+2) {
				&:before {
					content: '-';
					display:inline;
					float:left;
					margin:0 6px;

				}
			}
		}
		a {
			color: $color-text-body;

			&:hover {
				color: $color-links-active;
			}
		}
	}
	


	section.call-us,
	section.order-sample,
	section.social {
		margin: rhythm(4) 0;
	}

	h2 {
		margin: rhythm(1) 0;
		padding-bottom: rhythm(1);
		border-bottom: 1px solid $color-borders;
	}

	.icon {
		display:block;
		font-size:32px;
		line-height:1em;
		margin-top: rhythm(2);
		color:inherit;
	}


	section.social {
		

		ul {
			display:inline;
			float:left;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: rhythm(4);
			padding:0;
			list-style:none;

			li {
				display:inline;
				float:left;
				color:rgba(255,255,255,.5);

				&:nth-child(n+2) {
					margin-left:5px;
				}

				a {
					&:hover {
						color:#fff;
						.icon {
							box-shadow:inset 0px 0px 0px 2px #fff;
						}
					}
				}
			}
		}
		span:first-child {
			position:absolute;
			left: -999em;
		}
		.icon {
			display:inline;
			float:left;

			font-size: 15px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			margin:0;
			border-radius: 15px;
			overflow:hidden;
			box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,.5);
		}
		.icon-social-twitter {
			font-size:12px;
		}
		.icon-social-youtube {
			font-size:18px;
		}
		.icon-social-googleplus {
			line-height: 32px;
		}

	}
	
}

@include breakpoint($sm, true) {
	footer#page-footer {
		margin-top: rhythm(5);

		.main-footer {
			.content-wrapper {
				max-width:$md;
			}
		}

		.icon {
			font-size: 36px;
			width: 40px;
			text-align: center;
			margin-top: rhythm(2);
		}

		section.call-us,
		section.order-sample {
			
			> * {
				margin-left:50px;
			}

			.icon {
				display:inline;
				position:relative;
				float:left;
				margin-left:0px;

			}
		}

		section.call-us {
			@include grid-span(4,1);
		}
		section.order-sample {
			@include grid-span(4,9);
		}
		section.social {
			@include grid-span(4,5);
			margin-top: rhythm(6);
			text-align: center;
			color:rgba(255,255,255,.5);
			
			h2 {
				@include adjust-font-size-to($size-md);
				font-weight: $bold;
				margin-bottom:rhythm(1);
			}

			ul {
				display:inline-block;
				float:none;
				margin:0 auto;
			}
		}


		h2 {
			margin: rhythm(3) 0;
			border-bottom: 0;
			padding-bottom: 0;
		}

		.secondary-footer {
			ul {
				float: right;
			}
		}
	}
}

@include breakpoint($md, true) {
	footer#page-footer {
		.main-footer {
			.content-wrapper {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}