
footer#page-footer {
	position:relative;
	width:100%;

	a.top {
		position: absolute;
		top:rhythm(3);
		right:$content-margin;

		span:first-child {
			display:none;
		}
		span.icon {
			@include icon($arrow-up);
			font-size: 1em;
			line-height: 20px;
			width: 20px;
			height: 20px;
			text-align: right;
		}
	}

	h2 {
		@include adjust-font-size-to($size-lg);
		margin: rhythm(1) 0;
		//padding-bottom: rhythm(1);
		border-bottom: 1px solid $color-borders;
	}
	p {
		margin: rhythm(1) 0;
		@include adjust-font-size-to($size-sm);
		@include adjust-leading-to(3);
	}



	.main-footer {
		background: $dark-gray;
		color: #fff;
		
		h2,
		a {
			color:inherit;
		}
		
		.button {
			background: $light-gray;
			color: $dark-gray;
			@include adjust-font-size-to($size-sm);
			@include adjust-leading-to(4);
		}
	}

	.secondary-footer {
		background: #fff;


		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			display: block;
			margin: rhythm(1) 0;
			padding: 0;
			@include adjust-font-size-to($size-xs);
			@include adjust-leading-to(4);

			a {
				text-decoration: underline;
			}
		}
		a {
			color: $color-text-body;

			&:hover {
				color: $color-links-active;
			}
		}
	}
	

	section.call-us,
	section.order-sample,
	section.social {
		margin: rhythm(4) 0;
	}
	
	section.call-us,
	section.order-sample {
		.icon {
			display:block;
			font-size:32px;
			line-height:1em;
			margin-top: rhythm(2);
			color:inherit;
		}
	}
	section.social {
				
		ul.social {

			li {
				color:rgba(255,255,255,.5);

				a {
					&:hover {
						color:#fff;
						.icon {
							box-shadow:inset 0px 0px 0px 1px #fff;
						}
					}
				}
			}

			.icon {
				box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,.5);
			}

		}
	}
	
}
@include breakpoint($xs, true) {
	footer#page-footer {

		.secondary-footer {
			ul {
				display:inline; 
				float:left;
			}
			li {
				display:inline; 
				float:left;

				&:nth-child(n+2) {
					&:before {
						content: '-';
						display:inline;
						float:left;
						margin:0 6px;

					}
				}
			}
		}
	}
}

@keyframes bounce {
    0%   { transform: translate3d(0,    0, 0) }
    37%  { transform: translate3d(0, -#{1.00 * 65}px, 0) }
    55%  { transform: translate3d(0, - #{.75 * 65}px, 0) }
    73%  { transform: translate3d(0, -#{1.00 * 65}px, 0) }
    82%  { transform: translate3d(0,  -#{.93 * 65}px, 0) }
    91%  { transform: translate3d(0, -#{1.00 * 65}px, 0) }
    96%  { transform: translate3d(0,  -#{.98 * 65}px, 0) }
    100% { transform: translate3d(0, -#{1.00 * 65}px, 0) }
}

@include breakpoint($sm, true) {
	footer#page-footer {

		.main-footer {
			.content-wrapper {
				max-width:760px / $base-font-size * 1em;
			}
		}

		h2 {
			margin: 0;
			font-weight: $normal;
		}

		section.call-us,
		section.order-sample {
			
			> * {
				margin-left:50px;
			}


			.icon {
				display:inline;
				position:relative;
				float:left;
				margin-left:0px;
				margin-top: -1 * rhythm(1);
				font-size: 36px;
				width: 40px;
				text-align: center;
			}
		}

		section.call-us {
			@include grid-span(4,1);
		}
		section.order-sample {
			@include grid-span(4,9);
		}
		section.social {
			@include grid-span(4,5);
			margin-top: rhythm(6);
			text-align: center;
			color:rgba(255,255,255,.5);
			
			h2 {
				@include adjust-font-size-to($size-md);
				font-weight: $bold;
				margin-bottom:rhythm(1);
				border-bottom: 0;
			}

			ul {
				display:inline-block;
				float:none;
				margin:0 auto;
			}
		}


		section.call-us {
			@include grid-span(4,2);
		}
		section.order-sample {
			@include grid-span(4,8);
		}



		.secondary-footer {
			ul {
				float: right;
			}
		}
	}



	body:not(.legacy) {

		padding-bottom: rhythm(14);

		footer#page-footer {
			position:fixed;
			top:100%;
			margin-top:0;
			z-index:20;
			transition: transform .3s;

			section.call-us,
			section.order-sample {
				transform: translate3d(20%, 0, 0);
				transition: transform .2s;

				h2 {
					border-bottom-width: 0px;
					transition: border .2s;
				}
				> *:nth-child(n+3) {
					opacity: 0;
					transform: translate3d(7%, 20%, 0);

					transition-property: opacity, transform;
					transition-duration: .3s;
					transition-timing-function: ease;

				}
			}
			section.order-sample {
				transform: translate3d(-20%, 0, 0);

				> *:nth-child(n+3) {
					transform: translate3d(-7%, 20%, 0);
				}
			}


			section.social {
				opacity: 0;
				transform: translate3d(0, 20%, 0);
				transition-property: opacity, transform;
				transition-duration: .3s;
				transition-timing-function: ease;
			}
		}
	}

	.scroll-near-bottom {
		footer#page-footer {
			transform: translate3d(0, -65px, 0);

			&:hover,
			.over {
				transform: translate3d(0,-100%,0);

				
				section.call-us,
				section.order-sample {
					transform: translate3d(0, 0, 0);

					h2 {
						border-bottom-width: 1px;
					}
					> *:nth-child(n+3) {
						opacity: 1;
						transform: translate3d(0, 0, 0);
						transition-delay: .1s;
					}
				}

				section.order-sample {
					> *:nth-child(n+3) {
						transition-delay: .1s;
					}
				}

				section.social {
					opacity: 1;
					transform: translate3d(0, 0, 0);
					//transition-delay: .1s;
				}
			}
		}
	}
}

@include breakpoint($md, true) {
	footer#page-footer {

		&:hover {
			height:auto;
		}
	
		.main-footer {
			.content-wrapper {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	
}