
footer#page-footer {
	position:relative;
	width:100%;

	a.top {
		position: absolute;
		top:rhythm(3);
		right:$content-margin;

		span:first-child {
			display:none;
		}
		span.icon {
			@include icon($arrow-up);
			font-size: 1em;
			line-height: 20px;
			width: 20px;
			height: 20px;
			text-align: right;
		}
	}

	h2 {
		@include adjust-font-size-to($size-lg);
		margin: rhythm(1) 0;
		//padding-bottom: rhythm(1);
		border-bottom: 1px solid $color-borders;
	}
	p {
		margin: rhythm(1) 0;
		@include adjust-font-size-to($size-sm);
		@include adjust-leading-to(3);
	}



	.main-footer {
		background: $dark-gray;
		color: #fff;
		
		h2,
		a {
			color:inherit;
		}
		
		.button {
			background: $light-gray;
			color: $dark-gray;
			@include adjust-font-size-to($size-sm);
			@include adjust-leading-to(4);
		}
	}

	.secondary-footer {
		background: #fff;


		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			display: block;
			margin: rhythm(1) 0;
			padding: 0;
			@include adjust-font-size-to($size-xs);
			@include adjust-leading-to(4);

			a {
				text-decoration: underline;
			}
		}
		a {
			color: $color-text-body;

			&:hover {
				color: $color-links-active;
			}
		}
	}
	

	section.call-us,
	section.order-sample,
	section.social {
		margin: rhythm(4) 0;
	}
	
	section.call-us,
	section.order-sample {
		.icon {
			display:block;
			font-size:32px;
			line-height:1em;
			margin-top: rhythm(2);
			color:inherit;
		}
	}
	section.social {
				
		ul.social {

			li {
				color:rgba(255,255,255,.5);

				a {
					&:hover {
						color:#fff;
						.icon {
							box-shadow:inset 0px 0px 0px 2px #fff;
						}
					}
				}
			}

			.icon {
				box-shadow:inset 0px 0px 0px 2px rgba(255,255,255,.5);
			}

		}
	}
	
}
@include breakpoint($xs, true) {
	footer#page-footer {

		.secondary-footer {
			ul {
				display:inline; 
				float:left;
			}
			li {
				display:inline; 
				float:left;

				&:nth-child(n+2) {
					&:before {
						content: '-';
						display:inline;
						float:left;
						margin:0 6px;

					}
				}
			}
		}
	}
}
@include breakpoint($sm, true) {
	footer#page-footer {

		.main-footer {
			.content-wrapper {
				max-width:760px / $base-font-size * 1em;
			}
		}

		h2 {
			margin: 0;
		}

		section.call-us,
		section.order-sample {
			
			> * {
				margin-left:50px;
			}


			.icon {
				display:inline;
				position:relative;
				float:left;
				margin-left:0px;
				margin-top: -1 * rhythm(1);
				font-size: 36px;
				width: 40px;
				text-align: center;
			}
		}

		section.call-us {
			@include grid-span(4,1);
		}
		section.order-sample {
			@include grid-span(4,9);
		}
		section.social {
			@include grid-span(4,5);
			margin-top: rhythm(6);
			text-align: center;
			color:rgba(255,255,255,.5);
			
			h2 {
				@include adjust-font-size-to($size-md);
				font-weight: $bold;
				margin-bottom:rhythm(1);
				border-bottom: 0;
			}

			ul {
				display:inline-block;
				float:none;
				margin:0 auto;
			}
		}



		.secondary-footer {
			ul {
				float: right;
			}
		}
	}
}

@include breakpoint($md, true) {
	footer#page-footer {
		.main-footer {
			.content-wrapper {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}