
#signup-form-trigger {
	
	color:#fff;
	background: $color-primary;
	margin-bottom: -rhythm(6);


	h2,
	p,
	a {
		color:inherit;
	}

	a.trigger {
		display:none;
		transition: all .1s;

		.icon {
			transition: all .1s;
		}
	}

	@include breakpoint($md) {
		position:fixed;
		left:0;
		top: 30%;
		z-index:20;
		background: transparent;

		a.trigger {
			display:block;
			padding:10px;
			@include adjust-font-size-to($size-sm);
			line-height: normal;
			font-weight: $bold;
			text-align: center;
			z-index:20;
			color: inherit;
			background: $color-primary;
			border-radius: 0 4px 4px 0;
			transform: scale(.6) translate(-6px, 0);
			transform-origin: center left;
			opacity:.6;

			.icon {
				display:block;
				text-align: center;
				font-size:28px;
				line-height:36px;
			}

			span:nth-of-type(2) {
				display:block;
				position:relative;
				opacity: 0;
				height:0;
				overflow: hidden;
			}

			&:hover {
				transform: scale(1) translate(0, 0);
				opacity: 1;

				span:nth-of-type(2) {
					opacity: 1;
					height: auto;
				}
			}
		}
	}


	@include breakpoint($lg-bp) {

		a.trigger {
			transform: scale(1) translate(0, 0);
			padding:10px;
			@include adjust-font-size-to($size-sm);
			opacity: 1;

			.icon {
				font-size:28px;
				line-height:36px;
			}

			span:nth-of-type(2) {
				opacity: 1;
				height: auto;
			}
		}

	}
}


.form-signup-cta {
	text-align: left;
	color: #fff;
	background: $color-primary;
	padding: $content-margin;

	cursor: pointer;
	
	h2,
	p,
	a {
		color:inherit;
	}	

	.form-signup & {
		margin: rhythm(6) (-$content-margin) 0;
	}

	@include breakpoint($md, true) {
		display:none;
	}

}

.form-signup {
	text-align:left;

	h1,
	h2 {
		&:first-child {
			margin-top:0;
		}
	}


	.form-compact {
		label {
			margin-bottom:0;
		}
		margin-bottom: $form-spacing;
	}

	.button-group {
		button {
			width:100%;
		}

		@include breakpoint($sm) {
			text-align: right;
			button {

				width: auto;
				min-width: 32%
			}
			
		}
	}

}

#signup-form-overlay {
	@extend .mfp-form-popup;

	#colorbox & {
		display:block;
	}
}

#signup-form-hero {



	form,
	.form-confirmation {
		display:none;
	}

	.signup-cta-content {
		display:block;
	}



	label {
		margin-bottom: $form-spacing-sm;
	}

	.form-compact {
		label {
			margin-bottom:0;
		}
		margin-bottom: $form-spacing-sm;
	}
	.input-buttons label {
		min-height:0;
		padding-left:28px;
		padding-right:8px;
		line-height: rhythm(2);
	}
	.icon-buttons label {
		width: 34px;
		margin-right: $form-spacing-sm;
		&:last-child {
			margin-right:0;
		}
	}
	.input-buttons label,
	.icon-buttons label {
		min-height:34px;
		height: 34px;
		line-height: 34px;

		.icon-gender-male:before,
		.icon-gender-female:before {
			font-size:22px;
		}
	}

	.gender-mobility {
		@include breakpoint($xs) {
			.radio-group + .checkbox-group {
				margin-left: $form-spacing-sm;
				width: calc(100% - (2 * (34px + #{$form-spacing-sm})));
			}
		}
	}

	@include breakpoint($md) {


		position:absolute;
		display:block;
		display:flex;
		top:0;
		right:$content-margin;
		width:325px;
		padding:30px;
		height:100%;
		background: rgba(255,255,255,0.7);
		align-items: center;

		
		.button-group {
			margin-top: 0;
			//margin-bottom: $form-spacing;
			overflow: hidden;
		}

		button {
			@include grid-span(12);
		}

		.disclaimer {
			@include grid-span(12);
			margin-top: rhythm(2);
			text-align: center;
		}

		form {
			display:block;
			max-width:265px; // fix IE10 flexbox overflow bug
		}
		.signup-cta-content {
			display:none;
		}

		.hcp-message {
			@include adjust-font-size-to($size-sm);
		}

	}

}

#signup-form-hero-step2 {
	@extend .mfp-form-popup;
}
#signup-form-hcp {
	@extend .mfp-form-popup;
}