

input,
textarea {
	color: $color-text-body;
}

%form-row-clear {
	display:inline;
	float:left;
	width:100%;
}

%input-text {
	position:relative;

	input,
	textarea {
	  	width:100%;
		padding: $field-padding-v $field-padding-h;
		outline: none;
		border-radius: 4px;
		border:0;
		margin:0;

	}
}


.input-button {
	@extend %button;
	background: #fff;
	color:$color-text-body;
	height: 40px;
	line-height:40px;
	padding: $button-padding-v $button-padding-h;
	margin-bottom: $form-spacing;
	text-align: left;
	overflow:hidden;

	.icon {
		line-height: inherit;
	}
	
}



.input-buttons label {
	@extend .input-button;
	padding-top:0;
	padding-bottom:0;

	transition: background-color .3s;

	.icon {
		padding-top:0;
	}

	&:before {
		display:none;
	}

	&.has-icon.input-checkbox {
		padding-left: 34px;
		
		.icon {
			position:relative;
			top:0;
			left:0;
			margin-left:-20px;
		}
	}

	&:not(.has-icon) {
		&.checked {
			background: $medium-gray;
		}
	}
}

.icon-button {
	@extend .input-button;
	text-align: center;
	width: 40px;
	padding:0;

	.label {
		display:none;
	}
}

.icon-buttons label {
	@extend .icon-button;
}


label {
	@extend %form-row-clear;
	margin-bottom: $form-spacing;

	@include breakpoint($sm) {
		&.sm {
			display:inline;
			float:left;
			clear:none;
			width:32%;
			margin-right:1%;

			&:nth-of-type(3n+3) {
				float:right;
				clear:right;
			}
		}

		&.md {
			display:inline;
			float:right;
			clear:none;
			width:48%;
			width: calc((100% - #{$form-spacing}) / 2);
		}
		&.md:first-child {
			float:left;
		}

		&.lg {
			width: 60%;
		}
	}

	.label {
		@include adjust-font-size-to($base-font-size);
		line-height: 1em;
	}
	.label-value {
		display:none;
	}

	.optional {
		opacity: .7;
	}

	.icon + .label {
		margin-left:0.4em;
	}

	.icon-checkmark {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align:center;
		border: 1px solid $color-borders;
		border-radius: $border-radius-sm;

		&:before {
			opacity: 0;
			transition: opacity .2s;
		}
	}

	.icon-gender-male:before,
	.icon-gender-female:before {
		font-size: 28px;
	}
	.icon-gender-male:before {
		@include icon-content($gender-male-outline);
	}
	.icon-gender-female:before {
		@include icon-content($gender-female-outline);
	}

	&.checked {
		.icon-checkmark {
			&:before {
				opacity: 1;
			}
		}

		.icon-gender-male,
		.icon-gender-female {
			color: $color-primary;
			transition: color .2s;
		}
		.icon-gender-male:before {
			@include icon-content($gender-male);
		}
		.icon-gender-female:before {
			@include icon-content($gender-female);
		}
	}

}


input,
textarea {
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(3);
	display:block;
}

button {
	@extend .button;
	font-family: $font-header;
	font-weight: $light;
	width:100%;
	cursor: pointer;

	@include breakpoint($xs, true) {
		width:auto;
		min-width: 210px;
	}
}

.input-checkbox,
.input-radio {

	position:relative;
	min-height:40px;
	padding: $field-padding-h 0;
	text-align:left;
	@include adjust-leading-to(3);
    cursor: pointer; 

	input {
		position:absolute;
		left: -9999em;
		opacity: 0;
	}

}
.input-checkbox {

	padding-left:48px;

	&:before {
		position: absolute;
		content:'';
		top:0;
		left:0;
		width: 40px;
		height: 40px;
		border-radius: $border-radius-md;
		background:#fff;
	}
	
	.icon {
		position:absolute;
		top:10px;
		left:10px;
		z-index:5;
	}

}

.input-text {
	@extend %input-text;

	.label {
		position:absolute;
		top:11px;
		left:11px;
		transition: top .1s, font-size .1s, color .1s;

	}

	&.focus,
	&.has-value {
		.label {
			top:-2px;
			color: $medium-gray;
			@include adjust-font-size-to($size-xs);
		}
	}

}

.input-textarea {
	@extend .input-text;

	textarea {
		display:block;
		height:120px;
	}
}


.form-page {
	&:nth-child(n+2) {
		margin-top: rhythm(8);
	}
}

.form-row {
	@extend %form-row-clear;
	clear:both;
}
.form-col {
	@include breakpoint($sm) {

		display:inline;
		float:left;
		width: 45%;
		width: calc((100% - 70px) / 2);

		&:nth-of-type(2n+2) {
			float:right;
		}	
	}
}

.form-compact {
	overflow: hidden;
	margin-bottom: $form-spacing;
	padding: 0 20px;
	background:#fff;
	border-radius: $border-radius-md;

	label {
		margin-bottom:0;
		border-radius:0;
		border-bottom: 1px solid $color-borders-light;


		&.input-text,
		&.input-textarea {
			.label {
				left:0;
			}
			input {
				padding-left:0;
				padding-right:0;
			}
		}
	}

	.form-row:last-child {
		label {
			border-bottom: 0;
		}
	}

}

.radio-group,
.checkbox-group,
.select-group {
	clear:both;
	-webkit-touch-callout: none;
	user-select: none;

	&.input-buttons label {
		width: auto;
		min-width: 100px;
		text-align: center;
	}

	label {
		margin-right: $form-spacing;

		&:last-child {
			margin-right: 0;
		}
	}

}

.input-group.compact-group {
	clear:both;
	-webkit-touch-callout: none;
	user-select: none;

	label {
		text-align: center;
	}

	@include breakpoint($xs) {
		display: table;
		table-layout: fixed;
		width:100%;
		min-height: 40px;
		clear:both;
		margin-bottom: $form-spacing;

		label {
			display: table-cell;
			float:none;
			width:2%;
			min-width:0;
			height: auto;
			line-height: normal;
			vertical-align: middle;
			padding: rhythm(1);
			margin: 0;

			border-radius:0;

			&:first-child {
				border-radius: $border-radius-md 0 0 $border-radius-md;
			}
			&:last-child {
				border-radius: 0 $border-radius-md $border-radius-md 0;
			}
			&:nth-of-type(n+1) {
				border-left: 1px solid $color-background;
			}
		}
	}
}

.gender-mobility {

	@include breakpoint($xs) {
		.radio-group {
			float:left;
			clear:none;
		}
		.radio-group + .checkbox-group {
			clear:none;
			margin-left: $form-spacing;
			width: calc(100% - (2 * (40px + #{$form-spacing})));
			float: left;

			label {
				width:100%;
			}
		}
	}
}

.button-group {
	@extend %form-row-clear;
	overflow: hidden;
	button {
		@include adjust-font-size-to($size-xl);
		@include adjust-leading-to(7);
	}
}


.form-confirmation {
	display:none;
}

.disclaimer {
	@extend %form-row-clear;
	margin-top:rhythm(2);
	@include adjust-font-size-to($size-sm);
	@include adjust-leading-to(2);

	a {
		color: inherit;
		text-decoration: underline;
	}
}


.input-select {
	display:block;
	min-width: 100%;

    @include breakpoint($xs) {
    	display:inline-block;
    	min-width: 240px;	
    }
}

.select-group .input-select {

	@include breakpoint($xs) {
		min-width: 0;	
	}
}

.dk-select, .dk-select-multi {
    position: relative;
    display: inline-block;
    vertical-align: middle;
	@include adjust-font-size-to($base-font-size);
    line-height: 43px;
    width: 100%;
    cursor: pointer; 
}

.dk-selected {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-radius: $border-radius-md;
    padding: 0 1.5em 0 $field-padding-h;
    text-overflow: ellipsis; 

	@include icon-on-element($arrow-down);

	&:before {
	    position: absolute;
	    display: block;
	    right: 0;
	    top: 50%;
	    margin: -0.7em $field-padding-h 0 0;
	    font-size:1em;
		color: $color-primary;
	}
}

.dk-selected-disabled {
    color: $medium-gray }

.dk-select .dk-select-options {
    position: absolute;
    display: none;
    left: 0; }

.dk-select-open-up .dk-select-options {
    border-radius: $border-radius-md $border-radius-md 0 0;
    border-bottom:3px solid $color-primary;
    margin-bottom: -1px;
    bottom: 100%; }

.dk-select-open-down .dk-select-options {
    border-radius: 0 0 $border-radius-md $border-radius-md;
    border-top:3px solid $color-primary;
    margin-top: -1px;
    top: 100%; }

.dk-select-multi .dk-select-options {
    max-height: 10em; }

.dk-select-options {
    width: 100%;
    z-index: 100;
    background-color: white;
    border-radius: $border-radius-md;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 10.5em;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity .2s;
}

.dk-option-selected {
    background-color: $light-gray;
}

.dk-select-options-highlight .dk-option-selected {
    background-color: transparent;
    color: inherit; 
}

.dk-option {
    padding: 0.5em $field-padding-h;
    @include adjust-font-size-to($size-sm);
    transition: background-color .2s;
}

.dk-select-options .dk-option-highlight {
    background-color: $light-gray;
}

.dk-select-options .dk-option-disabled {
    color: $medium-gray;
    background-color: transparent; }

.dk-optgroup {
    padding: 0.25em 0;
    margin-top: 0.25em; 

	& + .dk-option {
	    margin-top: 0.25em; 
	}
	& + .dk-optgroup {
	    border-top-width: 0;
	    margin-top: 0; 
	}
	&:nth-child(2) {
	    padding-top: 0;
	    border-top: none;
	    margin-top: 0; 
	}
	&:last-child {
	    border-bottom-width: 0;
	    margin-bottom: 0;
	    padding-bottom: 0; 
	}
}

.dk-optgroup-label {
    padding: 0 0.5em 0.25em;
    font-weight: bold;
    width: 100%; 
}

.dk-optgroup-options {
    list-style: none;
    padding-left: 0; 

    li {
    	padding-left: 1.2em; 
	}
}


.dk-select-open-up .dk-selected {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dk-select-open-down .dk-selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dk-select-open-up .dk-selected, 
.dk-select-open-down .dk-selected {
    @include icon-on-element($arrow-up);

    &:before {
    	margin-top: -0.3em;
    }
}


.dk-select-open-up .dk-select-options, 
.dk-select-open-down .dk-select-options, 
.dk-select-multi:focus .dk-select-options {
    display: block;
    opacity: 1;
}

.dk-select-multi:hover, 
.dk-select-multi:focus,
.dk-selected:focus {
    outline: none;
}

.dk-select-disabled {
    opacity: 0.6;
    color: $medium-gray;
    cursor: not-allowed; 
}

select[data-dkcacheid] {
    display: none; 
}


.click-to-edit {
	
	label:not(.over) {
		&,
		input,
		&.input-checkbox:before {
			background-color: transparent;
		}

		&.input-text.has-value .label,
		&.input-textarea.has-value .label {
			opacity: 0;
		}

		&.checked .icon {
			color: $color-text-body;
		}
	}
	label.input-text.over,
	label.input-textarea.over {
		@include icon-on-element($pencil);

		&:before {
			position:absolute;
			right:0.6em;
			top: 50%;
			margin-top: -0.5em;
			color: $color-primary;
		}
	}
}
