

%input-text {
	position:relative;

	input,
	textarea {
	  	width:100%;
		padding: 10px;
		outline: none;
		border-radius: 4px;
		border:0;
		margin:0;

	}
}


.input-button {
	@extend %button;
	background: #fff;
	color:$color-text-body;
	height: 48px;
	line-height:48px;
	padding: 0 18px;
	overflow:hidden;

	.icon {
		line-height: inherit;
	}
	
	input {
		position:absolute;
		left: -9999em;
		opacity: 0;
	}

}



.input-buttons label {
	@extend .input-button;
}

.icon-button {
	@extend .input-button;
	text-align: center;
	width: 48px;
	padding:0;

	.label {
		display:none;
	}
}

.icon-buttons label {
	@extend .icon-button;
}

.form-row {
	@include float-span(12);
}

label {
	@include float-span(12);

	margin-bottom: gutter-span();

	@include breakpoint($sm) {
		&.md {
			@include float-span(6);

		}
		&.md:last-child {
			@include float-span(6, 'last');
		}
	}

	.label {
		@include adjust-font-size-to($base-font-size);
		line-height: 1em;
	}

	.optional {
		color: $dark-gray;
	}

	.icon + .label {
		margin-left:0.4em;
	}

	.icon-checkmark {
		width: 20px;
		height: 20px;
		border: 1px solid $color-borders;
		border-radius: $border-radius-sm;

		&:before {
			opacity: 0;
		}
	}

	.icon-gender-male:before,
	.icon-gender-female:before {
		font-size: 28px;
	}
	.icon-gender-male:before {
		@include icon-content($gender-male-outline);
	}
	.icon-gender-female:before {
		@include icon-content($gender-female-outline);
	}

	&.checked {
		.icon-checkmark {
			&:before {
				opacity: 1;
			}
		}

		.icon-gender-male,
		.icon-gender-female {
			color: $color-primary;
		}
		.icon-gender-male:before {
			@include icon-content($gender-male);
		}
		.icon-gender-female:before {
			@include icon-content($gender-female);
		}
	}

}


input,
textarea {
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(3);
	display:block;
}

button {
	@extend .button;
	min-width:180px;
}


.input-text {
	@extend %input-text;

	.label {
		position:absolute;
		top:11px;
		left:11px;

	}

	&.focus,
	&.has-value {
		.label {
			top:0px;
			@include adjust-font-size-to($size-xs);
		}
	}

}

.input-textarea {
	@extend .input-text;

	textarea {
		display:block;
		height:120px;
	}
}


.radio-group,
.checkbox-group {
	clear:both;

	-webkit-touch-callout: none;
	user-select: none;

}

.button-group {
	@include float-span(12);
	margin-top: 1em;
}
