
#signup-form-trigger {
	
	color:#fff;
	background: $color-primary;
	margin-bottom: -rhythm(6);

	a.trigger {
		display:none;
		border-radius: 0 4px 4px 0;
		padding:10px;
		@include adjust-font-size-to($size-sm);
		font-weight: $bold;
		text-align: center;
		z-index:20;
		color: inherit;

		.icon {
			display:block;
			width:100%;
			text-align: center;
			font-size:28px;
			line-height:36px;
		}
	}

	h2,
	p,
	a {
		color:inherit;
	}	

	@include breakpoint($sm) {
		position:fixed;
		left:0;
		top: 30%;
		z-index:20;

		a.trigger {
			display:block;	
		}

	}
}


.form-signup-cta {
	text-align: left;
	color: #fff;
	background: $color-primary;
	padding: $content-margin;

	
	h2,
	p,
	a {
		color:inherit;
	}	

	.form-signup & {
		margin: rhythm(6) (-$content-margin) 0;
	}

	@include breakpoint($sm, true) {
		display:none;
	}

}

#signup-form-overlay {
	@extend .mfp-form-popup;

	#colorbox & {
		display:block;
	}
}

.form-signup {
	h1,
	h2 {
		&:first-child {
			margin-top:0;
		}
	}

	@include layout($gutter: 2) {
		label {
			margin-bottom: gutter-span();
		}
		
		.form-compact {
			label {
				margin-bottom:0;
			}
			margin-bottom: gutter-span();
		}
		.radio-group {
			@include grid-span(4,1);

			.input-radio {
				&:first-child {
					@include grid-span(6,1);
				}
				&:last-child {
					@include grid-span(6,7);
				}
			}
		}
		.checkbox-group {
			@include grid-span(8,5);
		}

		button {
			@include adjust-font-size-to($size-xl);
			@include adjust-leading-to(7);
		}
	}
		


}