
$form-spacing: 		15px;
$form-spacing-sm:	10px;

%form-row-clear {
	display:inline;
	float:left;
	width:100%;
}

%input-text {
	position:relative;

	input,
	textarea {
	  	width:100%;
		padding: 11px;
		outline: none;
		border-radius: 4px;
		border:0;
		margin:0;

	}
}


.input-button {
	@extend %button;
	background: #fff;
	color:$color-text-body;
	height: 40px;
	line-height:40px;
	padding: 0 18px;
	margin-bottom: $form-spacing;
	text-align: left;
	overflow:hidden;

	.icon {
		line-height: inherit;
	}
	
	input {
		position:absolute;
		left: -9999em;
		opacity: 0;
	}

}



.input-buttons label {
	@extend .input-button;
	padding-top:0;
	padding-bottom:0;

	.icon {
		padding-top:0;
	}

	&:before {
		display:none;
	}
	&.input-checkbox {
		padding-left: 34px;
		
		.icon {
			position:relative;
			top:0;
			left:0;
			margin-left:-20px;
		}
	}
}

.icon-button {
	@extend .input-button;
	text-align: center;
	width: 40px;
	padding:0;

	.label {
		display:none;
	}
}

.icon-buttons label {
	@extend .icon-button;
}


label {
	@extend %form-row-clear;
	margin-bottom: $form-spacing;

	@include breakpoint($sm) {
		&.md {
			display:inline;
			float:left;
			clear:none;
			width:48%;
			width: calc((100% - #{$form-spacing}) / 2);
		}
		&.md:last-child {
			float:right;
		}
	}

	.label {
		@include adjust-font-size-to($base-font-size);
		line-height: 1em;
	}

	.optional {
		color: $dark-gray;
	}

	.icon + .label {
		margin-left:0.4em;
	}

	.icon-checkmark {
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align:center;
		border: 1px solid $color-borders;
		border-radius: $border-radius-sm;

		&:before {
			opacity: 0;
			transition: opacity .2s;
		}
	}

	.icon-gender-male:before,
	.icon-gender-female:before {
		font-size: 28px;
	}
	.icon-gender-male:before {
		@include icon-content($gender-male-outline);
	}
	.icon-gender-female:before {
		@include icon-content($gender-female-outline);
	}

	&.checked {
		.icon-checkmark {
			&:before {
				opacity: 1;
			}
		}

		.icon-gender-male,
		.icon-gender-female {
			color: $color-primary;
			transition: color .2s;
		}
		.icon-gender-male:before {
			@include icon-content($gender-male);
		}
		.icon-gender-female:before {
			@include icon-content($gender-female);
		}
	}

}


input,
textarea {
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(3);
	display:block;
}

button {
	@extend .button;
	width:100%;

	@include breakpoint($xs, true) {
		width:auto;
		min-width: 180px;
	}
}


.input-checkbox {
	position:relative;
	min-height:40px;
	padding: 11px 0 11px 48px;
	@include adjust-leading-to(3);

	&:before {
		position: absolute;
		content:'';
		top:0;
		left:0;
		width: 40px;
		height: 40px;
		border-radius: $border-radius-md;
		background:#fff;
	}
	
	.icon {
		position:absolute;
		top:10px;
		left:10px;
		z-index:5;
	}

	input {
		position:absolute;
		left: -9999em;
		opacity: 0;
	}

}

.input-text {
	@extend %input-text;

	.label {
		position:absolute;
		top:11px;
		left:11px;
		transition: top .1s, font-size .1s, color .1s;

	}

	&.focus,
	&.has-value {
		.label {
			top:-1px;
			color: $medium-gray;
			@include adjust-font-size-to($size-xs);
		}
	}

}

.input-textarea {
	@extend .input-text;

	textarea {
		display:block;
		height:120px;
	}
}



.form-row {
	@extend %form-row-clear;
	clear:both;
}
.form-col {
	@include breakpoint($sm) {

		display:inline;
		float:left;
		width: 45%;
		width: calc((100% - 70px) / 2);

		&:nth-of-type(2n+2) {
			float:right;
		}	
	}
}

.form-compact {
	overflow: hidden;
	margin-bottom: $form-spacing;
	padding: 0 20px;
	background:#fff;
	border-radius: $border-radius-md;

	label {
		margin-bottom:0;
		border-radius:0;
		border-bottom: 1px solid $color-borders-light;


		&.input-text,
		&.input-textarea {
			.label {
				left:0;
			}
			input {
				padding-left:0;
				padding-right:0;
			}
		}
	}

	.form-row:last-child {
		label {
			border-bottom: 0;
		}
	}

}

.radio-group,
.checkbox-group {
	clear:both;
	-webkit-touch-callout: none;
	user-select: none;

	&.icon-buttons label {
		margin-right: $form-spacing;

		&:last-child {
			margin-right: 0;
		}
	}

}

.gender-mobility {

	@include breakpoint($xs) {
		.radio-group {
			float:left;
			clear:none;
		}
		.radio-group + .checkbox-group {
			clear:none;
			margin-left: $form-spacing;
			width: calc(100% - (2 * (40px + #{$form-spacing})));
			float: right;
		}
	}
}

.button-group {
	@extend %form-row-clear;
}


.form-confirmation {
	display:none;
}

.disclaimer {
	@extend %form-row-clear;
	margin-top:rhythm(2);
	@include adjust-font-size-to($size-sm);
	@include adjust-leading-to(2);

	a {
		color: inherit;
		text-decoration: underline;
	}
}