

header#page-header {
	min-height:58px;
	z-index:10;

	background-color: #fff;
	@include background-image(linear-gradient(to bottom, #fff 0%, #fff 50%, #fefefe 51%, #f3f3f3 100%));
	background-size: 100% 58px;
	background-repeat: no-repeat;
/*
	background: 

		linear-gradient(to bottom, #fff 0%, #fff 50%, #fefefe 51%, #f3f3f3 100%), 
		#fff;
*/
	@extend %divider-shadow-after;
	
	.brand-primary {
		display: inline;
		float: left;
		width: 150px;
		margin-top:0;
		margin-bottom: 0;
		margin-right:-150px;
		padding-top: 15px;
		
		color: $color-brand;

		span {
			display:block;
			//@include sprite-2x($sprite-logo-coloplast-2x, $sprite-logo-coloplast);
			@include sprite($sprite-logo-coloplast);
		}
	}

	.brand-secondary {
		@include visually-hidden;

		display: inline;
		float: right;
		width: 110px;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: -150px;
		padding-top:0px;

		color: $color-primary;
		
		span {
			float:right;
			@include sprite($sprite-logo-coloplast-care);
		}
	}

	.brand-primary,
	.brand-secondary {
		span {
			display:block;
			text-align: left;
			text-indent: -999em;
		}
	}

}

@include breakpoint($md, true) {

	header#page-header {
		height:80px;
		background-size: 100% 100%;

		.brand-primary {
			padding-top: 37px;
		}

		.brand-secondary {
			@include visually-not-hidden;
			padding-top: 23px;
		}
	}

}