
.hero {
	-webkit-backface-visibility: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;	

	background-repeat: no-repeat;
	background-position: 50% 0px;

	
	.elm-image {
		img {
			display:block;
			margin:0 auto;
			opacity: 0;
		}
	}
	
	.elm-content {
		h1 {
			@include adjust-font-size-to($size-xxxl);
		}
		p,
		ul,
		ol {
			font-family: $font-header;
			/*
			@include adjust-font-size-to($size-lg);
			@include adjust-leading-to(4);
			*/
		}

		li:nth-child(n+2) {
			margin-top: rhythm(2);
		}

		.checkmarks {
			li:before {
				color: $color-primary;
			}
		}
	}

	.form-signup {
		form,
		.form-confirmation {
			display:none;
		}

		.signup-cta-content {
			display:block;
		}
	}

}

@include breakpoint($sm, true) {
	.hero {
		position:relative;
		overflow: hidden;


		.content-wrapper {
			position:relative;
		}
		.elm-content {
			position:absolute;
			top: 10%;
			text-shadow: 0 0 5px rgba(255,255,255,.2), 0 0 30px rgba(0,0,0,.9);

			
			h1,
			p,
			ul,
			ol {
				color:#fff;
			}
			.checkmarks li:before {
				color:inherit;
			}
		}
		.form-signup {
			position:absolute;
			display:block;
			top:0;
			right:0;
			width:325px;
			padding:30px;
			height:100%;
			background: rgba(255,255,255,0.7);
			display:flex;
			align-items: center;

			form h1,
			form h2 {
				margin-bottom:rhythm(1);
			}
			
			.button-group {
				margin-top: 0;
				overflow: hidden;
			}

			button {
				@include grid-span(12);
			}

			.disclaimer {
				@include grid-span(12);
				margin-top: rhythm(2);
				text-align: center;
			}

			form {
				display:block;
			}
			.signup-cta-content {
				display:none;
			}
		}
		
	}
} 

@include breakpoint($md, true) {
	.hero {
		.elm-content {
			top: 20%;
		}	
	}
} 

@include breakpoint($lg-bp, true) {
	.hero {
		background-size: cover;
		background-position: 50% 50%;
		overflow: hidden;
		
		max-height: 500px;


		&:before{
			content: "";
			display: block;
			padding-top: 37.26%;
		}


		.content-wrapper {
			position:absolute;
			top:0;
			left:50%;
			height:100%;
			margin-left: -($lg/2);
			margin-right: 0;
		}

		.elm-content {
		}
		

	}
}