
.hero {
	-webkit-backface-visibility: hidden;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;	

	background-repeat: no-repeat;
	background-position: 50% 0px;

	overflow:hidden;

	
	.elm-image {
		margin-left: -$content-margin;
		margin-right: -$content-margin;
		img {
			display:block;
			margin:0 auto;
			width: 100%;
			height: auto;
		}
	}
	
	.elm-content {
		h1 {
			@include adjust-font-size-to($size-xxxl);
		}
		p,
		ul,
		ol {
			font-family: $font-header;
			/*
			@include adjust-font-size-to($size-lg);
			@include adjust-leading-to(4);
			*/
		}

		li {
			@include adjust-leading-to(4);
		}
		li:nth-child(n+2) {
			margin-top: rhythm(2);
		}

		.checkmarks {
			li:before {
				color: $color-primary;
			}
		}

		ul {
			@extend ul.checkmarks;
		}
	}


}
@include breakpoint(0 $md, true) {
	.hero {
		background-image: none !important;
	}
}
@include breakpoint($md, true) {
	.hero {
		position:relative;
		overflow: hidden;
		background-size: cover;
		background-position: 50% 50%;

		min-height: 420px;
		max-height: 500px;


		&:before{
			content: "";
			display: block;
			padding-top: 37.26%;
			
			//padding-top: 1333 / 2000 * 100%;

		}


		.content-wrapper {
			position:absolute;
			top:0;
			height:100%;
			margin-right: 0;
		}

		.elm-image {
			position:relative;
			overflow:hidden;
			img {
				opacity: 0;
			}
		}

		.elm-content {
			position:absolute;
			top: 10%;
			max-width: 55%;
			text-shadow: 0 0 1px rgba(0,0,0,.2), 0 0 25px rgba(0,0,0,.3);

			
			h1,
			p,
			ul,
			ol {
				color:#fff;
				transition: color 1s ease;
			}

			//body:not(.page-front) & {
				p,
				ul,
				ol {
					max-width: 420px;
				}
			//}

			.checkmarks li:before {
				color:inherit;
			}

		}
		
		&.background-light {
			.elm-content {

				h1,
				p,
				ul,
				ol {
					color:$color-primary;
				}

			}
		}
	}
} 

@include breakpoint($lg-bp, true) {
	.hero {
		
		&:before{
			padding-top: 37.26%;
		}


		.content-wrapper {
			left:50%;
			margin-left: -($lg-bp/2);
		}
	}
}