
nav.primary {
	display:none;
/*
	margin:58px (-$content-margin) 0;
	padding: $content-margin;
	*/
	margin: 58px -#{$content-margin} 0;
	padding: 0;
	font-family: $font-header;

	@extend %divider-shadow-before;


	&.active {
		display:block;
	}

	.teaser {
		display:none;
		h2 {
			@include adjust-font-size-to($size-lg);
		}
		p {
			@include adjust-font-size-to($size-sm);
		}
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	
		
		li {
			margin:0;
			border-top: 1px solid $lightest-gray;

			&:first:nth-of-type(1) {
				border-width: 0;
			}

			.nav-title {
				color: $color-primary;
				padding: rhythm(2) $content-margin;
				text-align: left;
			}

		    &.active > .nav-title,
		    &.over > .nav-title {
		    	color: $color-text-body;
		    }

		}

		> li {
			border-color: #fff;

		    &.has-icon {
		    	display: table-cell;
		    	@include visually-not-hidden();

				span:first-child {
					@include visually-hidden;
				}
			}


			> .nav-title {
				position:relative;
				display:block;
				background: $lightest-gray;
			}
			


			> ul {
				display:none;

				margin:0;
				padding:0;
				list-style:none;

				> li {
					display:block;

					> .nav-title {
						display:block;
					}
					
				}


			}
		}

	}


}

.nav-btn {
	position: absolute;
	top: 18px;
	right: $content-margin;

	a {
		color: $color-text-body;

		&:hover {
			color: $color-primary;
		}

		span:first-child {
			@include visually-hidden;
		}

		.icon {
			@include icon($navbars);
		}

		&.active {
			.icon {
				@include icon($close);
			}
		}
	}
}

@include breakpoint(0 $md, true) {
	nav.primary > ul {
		
		> li {
			@include icon-on-element($arrow-down);
			position:relative;
			cursor: pointer;

			&:before {
				position:absolute;
				right: 0;
				padding: rhythm(2) $content-margin rhythm(2) rhythm(10);
				line-height: inherit;
				z-index:20;
			}

			.nav-title {
				padding-right: 2 * $content-margin;
			}
		}

		> li.expanded {
			&:before {
				@include icon-content($arrow-up);
			}

			> ul {
				display:block;
			}


		}
	}

}
@include breakpoint($md, true) {

	nav.primary {
		position: static;
		display:block;
		left: auto;
		width: auto;
		margin:0;
		padding: 40px 110px 0 150px;

		&:before {
			display:none;
		}

		> ul {
			display: table;
			float: none;
			width: 100%;
			margin: 0;
			
			li {
				border: none;
			}
		
			> li {
				position:relative;
				display: table-cell;

				& > .nav-title {
					position:relative;
					text-align: center;
					line-height: 26px;
					padding: 0px 10px 10px;
					border-bottom: 4px solid transparent;
					color: $color-text-body;
					background: transparent;
				}
				&.over > .nav-title,
				&.active > .nav-title {
					border-left:0;
					margin-left:0;
					border-bottom:4px solid $color-primary;
					z-index: 12;
				}
				&.over > .nav-title,
				&.over > a.nav-title {
					&,
					&:hover {
						background-color: transparent;
					}
				}


				& > .nav-title:after,
				&:first-child > .nav-title:before {
					position:absolute;
					content: ' ';
					top: -3px;
					right:0;
					width:1px;
					height:28px;
					/*
					@include background-image(
						linear-gradient(to bottom, rgba($color-borders, 0), rgba($color-borders, .1) 20%, $color-borders 50%, rgba($color-borders, .9) 80%, rgba($color-borders, 0))
					);
					*/
					background-image: linear-gradient(to bottom, rgba($color-borders, 0), rgba($color-borders, .1) 20%, $color-borders 50%, rgba($color-borders, .9) 80%, rgba($color-borders, 0));
					
				}
				&:first-child > .nav-title:before {
					right: auto;
					left: 0;
				}

				$menu-teaser-width: 300px;

				> ul {
					position:absolute;
					display:none;
					top: 100%;
					right: auto;
					width: 100%;
					min-height: 100%;
					//width:420px;
					background: #fff;
					border-radius: 0 0 $border-radius-md $border-radius-md;
					z-index:10;

					&.over {
						min-height:240px;
						border-radius: 0 0 0 $border-radius-md;
					}

					> li {

						> .nav-title {
							padding: rhythm(2) rhythm(2);
							position:relative;
							z-index:20;
							@include adjust-font-size-to($size-sm);
							color: inherit;
						}

					    &.active > .nav-title {
					    	border-left:0;
					    	margin-left:0;
					    	font-weight: $bold;
					    }
					    

						> .teaser {
							position: absolute;
							display:none;

							width: $menu-teaser-width;
							top:0;
							left: 100%;
							min-height: 100%;
							padding: rhythm(3) rhythm(4) rhythm(11);
							background: #fff;
							border-radius: 0 0 $border-radius-md 0;

							a.more-link {
								position: absolute;
								display:block;
								bottom:0;
								width: $menu-teaser-width - (2 * 4 * 6px);
								border-top: 1px solid $color-borders;
								text-indent: -999em;
								color: inherit;
								@include adjust-leading-to(9);
								
								.icon {
									@include icon($arrow-right);

									display:inline;
									float:right;
									font-size: inherit;
									line-height: inherit;
									text-indent: 999em;
								}

								&:hover {
									color: $color-primary;
								}
							}
						}

						&.over {
							> .teaser {
								display:block;
							}
						}
					}


				}

				&:nth-of-type(n+4) {
					> ul {

						&.over {
							border-radius: 0 0 $border-radius-md 0;
						}

						> li {
							.teaser {
								left: -1 * $menu-teaser-width;
								border-radius: 0 0 0 $border-radius-md;
							}
						}


					}
				}


				&.over {
					ul {
						display: block;
					}
				}
			}
		}


	}

	.nav-btn {
		display: none;
	}
}