
nav.primary {
	display:none;

	margin:58px (-$content-margin) 0;
	padding: $content-margin - rhythm(1);
	font-family: $font-header;

	@extend %divider-shadow-before;


	&.active {
		display:block;
	}

	.teaser {
		display:none;
		h2 {
			@include adjust-font-size-to($size-lg);
		}
		p {
			@include adjust-font-size-to($size-sm);
		}
	}

	> ul {
		margin: -(rhythm(2)) 0 0;
		padding: 0;
		list-style: none;
	
		
		li {
			margin-left:0;

		    &.active > .nav-title {
		    	border-left:4px solid $color-primary;
		    	margin-left: -4px;
		    }

			&.over > a.nav-title {
				background: $light-gray;
			}
		}

		> li {			
			margin-top:rhythm(2);

		    &.has-icon {
		    	display: table-cell;
		    	@include visually-not-hidden();

				span:first-child {
					@include visually-hidden;
				}
			}


			> .nav-title {
				position:relative;
				display:block;
				text-align: left;
				color: $color-text-body;
				padding: rhythm(1) rhythm(2);
			}
			

			&.over > .nav-title {
				background: transparent;
				border-left: 4px solid $color-primary;
				margin-left: -4px;
			}
			&.over > a.nav-title:hover {
				background: $light-gray;
			}
			> ul {

				margin:0;
				padding:0;
				list-style:none;

				> li {
					display:block;

					> .nav-title {
						display:block;
						padding: rhythm(1) rhythm(2);
						@include adjust-font-size-to($size-sm);
						color: inherit;
					}
					
				}


			}
		}

	}


}

.nav-btn {
	position: absolute;
	top: 18px;
	right: $content-margin;

	a {
		color: $color-text-body;

		&:hover {
			color: $color-primary;
		}

		span:first-child {
			@include visually-hidden;
		}

		.icon {
			@include icon($navbars);
		}

		&.active {
			.icon {
				@include icon($close);
			}
		}
	}
}

@include breakpoint($md, true) {

	nav.primary {
		position: static;
		display:block;
		left: auto;
		width: auto;
		margin:0;
		padding: 40px 110px 0 150px;


		> ul {
			display: table;
			float: none;
			width: 100%;
			margin: 0;
		
			> li {
				
				margin-top: 0;
				display: table-cell;

				& > .nav-title {
					position:relative;
					text-align: center;
					line-height: 26px;
					padding: 0px 10px 10px;
					border-bottom: 4px solid transparent;
				}
				&.over > .nav-title,
				&.active > .nav-title {
					border-left:0;
					margin-left:0;
					border-bottom:4px solid $color-primary;
					z-index: 12;
				}
				&.over > .nav-title,
				&.over > a.nav-title {
					&,
					&:hover {
						background-color: transparent;
					}
				}


				& > .nav-title:after,
				&:first-child > .nav-title:before {
					position:absolute;
					content: ' ';
					top: -3px;
					right:0;
					width:1px;
					height:28px;
					@include background-image(
						linear-gradient(to bottom, rgba($color-borders, 0), rgba($color-borders, .1) 20%, $color-borders 50%, rgba($color-borders, .9) 80%, rgba($color-borders, 0))
					);
				}
				&:first-child > .nav-title:before {
					right: auto;
					left: 0;
				}

				> ul {
					position:absolute;
					display:none;
					top: 100%;
					right: auto;
					width:420px;
					min-height:200px;
					background: #fff;
					border-radius: 0 0 4px 4px;
					z-index:10;
					overflow:hidden;

					> li {
						width: 30%;
						> .nav-title {
							padding: rhythm(2) rhythm(2);
							position:relative;
							z-index:20;
						}

						> .teaser {
							position: absolute;
							display:none;
							width:70%;
							right: 0;
							bottom: 0;
							padding: 0 rhythm(5) 0 10px;


							a.more-link {
								display:block;
								border-top: 1px solid $color-borders;
								text-indent: -999em;
								color: inherit;
								@include adjust-leading-to(9);
								
								.icon {
									@include icon($arrow-right);

									display:inline;
									float:right;
									font-size: inherit;
									line-height: inherit;
									text-indent: 999em;
								}

								&:hover {
									color: $color-primary;
								}
							}
						}

						&.over {
							> .teaser {
								display:block;
							}
						}
					}


				}

				&:nth-of-type(n+4) {
					> ul {
						//right: calc((100% - #{$lg}) / 2);
						right: 140px;
						right: calc(#{$content-margin} + 110px);
					}
				}


				&.over {
					ul {
						display: block;
					}
				}
			}
		}


	}

	.nav-btn {
		display: none;
	}
}
@include breakpoint($lg, true) {

	nav.primary {

		> ul {
			> li {
				&:nth-of-type(n+4) {
					> ul {
						right: calc((100% - #{$lg}) / 2 + 110px + #{$content-margin});
					}
				}
			}
		}
	}

}

