
svg.icon {
	width: 16px;
	height: 16px;
	vertical-align: text-top;
}

#shape-logo-coloplast-care {
	fill: $color-primary;

	#logo-coloplast-care-text {
		
	}

	#logo-coloplast-care-p1,
	#logo-coloplast-care-p2,
	#logo-coloplast-care-p3,
	#logo-coloplast-care-p4,
	#logo-coloplast-care-p5 {
		
	}
}