$navbars-font-family: "cc-icons";
$navbars-value: "\e00a";
$navbars: "cc-icons" "\e00a";
$feature-discrete-font-family: "cc-icons";
$feature-discrete-value: "\e015";
$feature-discrete: "cc-icons" "\e015";
$social_googleplus-font-family: "cc-icons";
$social_googleplus-value: "\e004";
$social_googleplus: "cc-icons" "\e004";
$box-open-font-family: "cc-icons";
$box-open-value: "\e019";
$box-open: "cc-icons" "\e019";
$social_youtube-font-family: "cc-icons";
$social_youtube-value: "\e001";
$social_youtube: "cc-icons" "\e001";
$tree-font-family: "cc-icons";
$tree-value: "\e000";
$tree: "cc-icons" "\e000";
$feature-preconnected-font-family: "cc-icons";
$feature-preconnected-value: "\e010";
$feature-preconnected: "cc-icons" "\e010";
$search-font-family: "cc-icons";
$search-value: "\e007";
$search: "cc-icons" "\e007";
$feature-curved-tip-font-family: "cc-icons";
$feature-curved-tip-value: "\e016";
$feature-curved-tip: "cc-icons" "\e016";
$feature-easy-open-font-family: "cc-icons";
$feature-easy-open-value: "\e014";
$feature-easy-open: "cc-icons" "\e014";
$gender-female-outline-font-family: "cc-icons";
$gender-female-outline-value: "\e00e";
$gender-female-outline: "cc-icons" "\e00e";
$sign-up-font-family: "cc-icons";
$sign-up-value: "\e006";
$sign-up: "cc-icons" "\e006";
$gender-female-font-family: "cc-icons";
$gender-female-value: "\e00d";
$gender-female: "cc-icons" "\e00d";
$feature-size-variety-font-family: "cc-icons";
$feature-size-variety-value: "\e00f";
$feature-size-variety: "cc-icons" "\e00f";
$gender-male-outline-font-family: "cc-icons";
$gender-male-outline-value: "\e00c";
$gender-male-outline: "cc-icons" "\e00c";
$close-font-family: "cc-icons";
$close-value: "\e017";
$close: "cc-icons" "\e017";
$social_twitter-font-family: "cc-icons";
$social_twitter-value: "\e002";
$social_twitter: "cc-icons" "\e002";
$feature-hygenic-font-family: "cc-icons";
$feature-hygenic-value: "\e012";
$feature-hygenic: "cc-icons" "\e012";
$feature-easy-use-font-family: "cc-icons";
$feature-easy-use-value: "\e013";
$feature-easy-use: "cc-icons" "\e013";
$arrow-up-font-family: "cc-icons";
$arrow-up-value: "\e01a";
$arrow-up: "cc-icons" "\e01a";
$arrow-right-font-family: "cc-icons";
$arrow-right-value: "\e01b";
$arrow-right: "cc-icons" "\e01b";
$gender-male-font-family: "cc-icons";
$gender-male-value: "\e00b";
$gender-male: "cc-icons" "\e00b";
$feature-instant-font-family: "cc-icons";
$feature-instant-value: "\e011";
$feature-instant: "cc-icons" "\e011";
$arrow-left-font-family: "cc-icons";
$arrow-left-value: "\e01c";
$arrow-left: "cc-icons" "\e01c";
$social_instagram-font-family: "cc-icons";
$social_instagram-value: "\e003";
$social_instagram: "cc-icons" "\e003";
$plus-font-family: "cc-icons";
$plus-value: "\e008";
$plus: "cc-icons" "\e008";
$arrow-down-font-family: "cc-icons";
$arrow-down-value: "\e01d";
$arrow-down: "cc-icons" "\e01d";
$checkmark-font-family: "cc-icons";
$checkmark-value: "\e018";
$checkmark: "cc-icons" "\e018";
$social_facebook-font-family: "cc-icons";
$social_facebook-value: "\e005";
$social_facebook: "cc-icons" "\e005";
$phone-outline-font-family: "cc-icons";
$phone-outline-value: "\e009";
$phone-outline: "cc-icons" "\e009";

@mixin icon-font-family($char) {
  font-family: nth($char, 1);
}

@mixin icon-font() {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin icon-content($char) {
  content: nth($char, 2);
}

@mixin icon($char) {
  @include icon-font-family($char);
  @include icon-font();

  &:before {
    @include icon-content($char);
  }
}

@font-face {
  font-family: "cc-icons";
  src:url("../fonts/cc-icons.eot");
  src:url("../fonts/cc-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cc-icons.woff") format("woff"),
    url("../fonts/cc-icons.ttf") format("truetype"),
    url("../fonts/cc-icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
