$social_facebook-font-family: "cc-icons";
$social_facebook-value: "\e004";
$social_facebook: "cc-icons" "\e004";
$search-font-family: "cc-icons";
$search-value: "\e005";
$search: "cc-icons" "\e005";
$arrow-up-font-family: "cc-icons";
$arrow-up-value: "\e00b";
$arrow-up: "cc-icons" "\e00b";
$gender-male-font-family: "cc-icons";
$gender-male-value: "\e008";
$gender-male: "cc-icons" "\e008";
$social_instagram-font-family: "cc-icons";
$social_instagram-value: "\e002";
$social_instagram: "cc-icons" "\e002";
$social_googleplus-font-family: "cc-icons";
$social_googleplus-value: "\e003";
$social_googleplus: "cc-icons" "\e003";
$phone-outline-font-family: "cc-icons";
$phone-outline-value: "\e006";
$phone-outline: "cc-icons" "\e006";
$social_youtube-font-family: "cc-icons";
$social_youtube-value: "\e000";
$social_youtube: "cc-icons" "\e000";
$navbars-font-family: "cc-icons";
$navbars-value: "\e007";
$navbars: "cc-icons" "\e007";
$box-open-font-family: "cc-icons";
$box-open-value: "\e00a";
$box-open: "cc-icons" "\e00a";
$arrow-down-font-family: "cc-icons";
$arrow-down-value: "\e00e";
$arrow-down: "cc-icons" "\e00e";
$arrow-right-font-family: "cc-icons";
$arrow-right-value: "\e00c";
$arrow-right: "cc-icons" "\e00c";
$social_twitter-font-family: "cc-icons";
$social_twitter-value: "\e001";
$social_twitter: "cc-icons" "\e001";
$gender-female-font-family: "cc-icons";
$gender-female-value: "\e009";
$gender-female: "cc-icons" "\e009";
$arrow-left-font-family: "cc-icons";
$arrow-left-value: "\e00d";
$arrow-left: "cc-icons" "\e00d";

@mixin icon-font-family($char) {
  font-family: nth($char, 1);
}

@mixin icon-font() {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin icon-content($char) {
  content: nth($char, 2);
}

@mixin icon($char) {
  @include icon-font-family($char);
  @include icon-font();

  &:before {
    @include icon-content($char);
  }
}

@font-face {
  font-family: "cc-icons";
  src:url("../fonts/cc-icons.eot");
  src:url("../fonts/cc-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/cc-icons.woff") format("woff"),
    url("../fonts/cc-icons.ttf") format("truetype"),
    url("../fonts/cc-icons.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
