

.icon {
	font-size: inherit;
	line-height: inherit;
}

.icon-navbars {
	@include icon($navbars);
}
.icon-phone-outline {
	@include icon($phone-outline);
}
.icon-box-open {
	@include icon($box-open);
}

.icon-social-facebook {
	@include icon($social-facebook);
}
.icon-social-twitter {
	@include icon($social-twitter);
}
.icon-social-googleplus {
	@include icon($social-googleplus);
}
.icon-social-youtube {
	@include icon($social-youtube);
}


.icon-tree {
	@include icon($tree);
}
.icon-plus {
	@include icon($plus);
}
.icon-gender-female {
	@include icon($gender-female);
}
.icon-gender-male {
	@include icon($gender-male);
}
.icon-checkmark {
	@include icon($checkmark);
}

.icon-sign-up {
	@include icon($sign-up);
}