

body {
	background-color: $color-background;
	text-align: center;
	margin:0;

	&.page-article,
	&.page-product {
		background-color: #fff;
	}

	> * + * {
		margin-top: rhythm(6);
	}

}



.content-wrapper {
	margin-left:auto;
	margin-right:auto;
	padding-left:$content-margin;
	padding-right:$content-margin;
	text-align:left;
	max-width: $lg;
	@include clearfix;
}

/*
@include breakpoint($lg-bp, true) {

	.content-wrapper {
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		padding-right:0;
		width: $lg;	
	}
}
*/