
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: $color-background;
	text-align: center;
	margin:0;

	&.page-article,
	&.page-product {
		background-color: #fff;
	}

}

.page-wrapper {

	transition: filter .15s linear;

	&.popup {
		filter: blur(5px);
	}

	> * + *,
	> .dynBlock > * + * {
		margin-top: rhythm(6);
	}
}




.content-wrapper {
	margin-left:auto;
	margin-right:auto;
	padding-left:$content-margin;
	padding-right:$content-margin;
	text-align:left;
	max-width: $lg + (2 * $content-margin-em);
	@include clearfix;
}

@include breakpoint($sm, true) {
	body {
		> .hero + * {
			margin-top: rhythm(2);
		}
	}
}

/*
@include breakpoint($lg-bp, true) {

	.content-wrapper {
		margin-left:auto;
		margin-right:auto;
		padding-left:0;
		padding-right:0;
		width: $lg;	
	}
}
*/