

html, 
body {
	overflow-x: hidden;
}
body {
	background-color: $color-background;
	text-align: center;
	margin:0;
}

.content-wrapper {
	margin:0;
	padding-left:$content-margin;
	padding-right:$content-margin;
	text-align:left;
	max-width: $lg;
	overflow: hidden;
}


@include breakpoint($lg-bp, true) {

	.content-wrapper {
		margin:0 auto;
		padding-left:0;
		padding-right:0;
		width: $lg;	
	}
}