
%button,
.button {
	display: inline-block;
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(6);
	margin: 0;
	padding: 0 rhythm(2);
	border: none;
	color: #fff;
	border-radius:4px;
	background: $color-primary;
	text-align: center;
}

a.button {
	min-width:180px;
	&:hover {
		color: #fff;
	}
}


ul.text-buttons {
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	list-style:none;

	li {
		margin:0;

		& + li {
			margin-top: rhythm(2);
		}
	}

	a {
		@extend %button;
		display:block;
		@include adjust-leading-to(3);
		padding: rhythm(2) rhythm(6);
	}
}

